In [1]:
import pandas as pd
from tqdm import tqdm_notebook
from Parsing import *
from joblib import Parallel, delayed
from bs4 import BeautifulSoup as bs

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\util\deprecation.py:497: calling conv1d (from tensorflow.python.ops.nn_ops) with data_format=NHWC is deprecated and will be removed in a future version.
Instructions for updating:
`NHWC` for data_format is deprecated, use `NWC` instead

In [2]:
def execute_fun(record):
    split_addr = record.소재지전체주소.split()
    
    if len(split_addr) == 0: # if addr is null, skip the whole algorithm
        record['STATE'] = 0
        return record
        
    if len(split_addr)<3 & len(split_addr[0])>10 : # apply spacing for 1-chucks 
        record.소재지전체주소 = spacing(record.소재지전체주소)
        split_addr = record.소재지전체주소.split()
        
    if len(split_addr) > 1: # 주소 정규화(조건: 글자 2개이상)
        try:
            record.소재지전체주소 = AddrNormalization(split_addr)
            split_addr = record.소재지전체주소.split()
        except:
            record['STATE'] = -1 # 주소 오탈자 의심
            return record
    
    if len(split_addr)<3 & len(split_addr[0])>10 : # apply spacing for 1-chucks 
        record.소재지전체주소 = spacing(record.소재지전체주소)
        split_addr = record.소재지전체주소.split()
        
    cnt = 0
    for j in split_addr: # 전처리 for 유효한 주소인지 여부(top priority)
        if j[-1] in '길로':
            record['STATE'] = -2 # 도로명주소가 포함된 경우
            return record
        
        if len(j) == 1 or j[-1] not in '도시구군동읍면리가':
            break
        cnt+=1
        
    if cnt < 3  or cnt == len(split_addr):# 유효한 주소인지 여부(top priority)
        if cnt < len(split_addr) and '세종' in split_addr[0]:
            record['STATE'] = 1            
        else:
            record['STATE'] = 0
    else:
        record['STATE'] = 1

    return record

In [3]:
engine = create_engine("mysql+pymysql://eums:eums00!q@133.186.146.142:3306/eums-poi?charset=utf8mb4", encoding = 'utf8' ,
                       pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

In [5]:
for i in range(80):
    query = '''
    select 번호, 사업장명, 소재지전체주소
    from REF_OPEN_DATA 
    where 번호 between {} and {}'''.format(i*100000, (i+1)*100000)
    
    df = pd.read_sql_query(query, engine)
    if len(df)==0: continue
    result_list = Parallel(n_jobs=-1)(delayed(execute_fun)(record) for idx, record in tqdm_notebook(df.iterrows()))
    del df
    result_df = pd.DataFrame.from_records(result_list).sort_values('번호').set_index('번호')
    result_df.to_sql('TEMP0003', con=engine, if_exists='append')
    del result_df
    del result_list

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

KeyboardInterrupt:

In [91]:
len(df)

1000

In [99]:

# result_list=[]
# for idx, record in tqdm_notebook(df.iterrows()):
#     result_list.append(execute_fun(record))
    
# df2 = pd.DataFrame.from_records(result_list)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [93]:
res = [i[0] for i in df2[(df2.STATE==1)]['ADDR'].str.split()]  # STATE : -1인 경우 주소 오탈 의심, STATUS : -1인 경우 의미없는 레코드

In [101]:
df2[df2.STATE==1]['ADDR']

4                 서울특별시 강남구 대치동 945-24
5                   경상남도 김해시 삼방동 270-4
6                   서울특별시 노원구 상계동 649-1
7                전라북도 부안군 부안읍 봉덕리 577-4
9                 서울특별시 마포구 서교동 380-6번지
10                    대구 서구 중리동 1079-2
12         서울특별시 강남구 대치2동 511 미도상가 203호
14                   충청남도 아산시 온천동 1294
16           경기도 안산시 단원구 초지동 744-3 107호
17              경상북도 영덕군 영덕읍 덕곡리 195-4
22                 대구광역시 달서구 용산동 215-33
25            서울특별시 강남구 역삼동 738 KS빌딩 3층
26                 인천광역시 서구 가좌동 178-265
27                    서울특별시 강서구 마곡동 760
30             경상북도 포항시 북구 덕산동 12-70 2층
36                전라북도 고창군 성내면 양계리 464
38           인천광역시 서구 석남동 517-1 상상빌리지2층
40                전라북도 정읍시 고부면 관청리 산529
41              경상남도 창원시 마산합포구 반월동 85-1
42                   경기도 광주시 태전동 산13-11
44               경상북도 구미시 해평면 낙산리 607-3
45                     대구 달서구 용산동 414-4
46                  강원도 홍천군 내면 창촌리 1612
49                     강원도 춘천시 효자2동 291
51                 부산광역시 해운대구 반여동 745-5
54                   경상북도 구미시 비산동 459-1
55                  울산광역시 북구 연암동 351-7
57     부산광역시 북구 구포2동 1084-3 협진태양상가 109호
59                    경기도 의정부시 가능동 17-1
60                  대전광역시 동구 성남동 200-91
                     ...
677                대구 달서구 상인3동 1555-2번지
682                울산광역시 북구 진장동 284-17
691               인천광역시 서구 오류동 1648-11
694                서울특별시 강남구 대치동 897-28
695               경기도 부천시 오정구 삼정동 34-5
730                     경기도 시흥시 은행동 533
733                 대구 북구 침산2동 138-11번지
743                   대구 달서구 월암동 1013번지
753                  충청남도 보령시 신흑동 1783
765                대구 달성군 논공읍 북리 833-61
782              경상남도 진주시 진성면 동산리 126-2
797                     대구 동구 효목동 138-2
848                      대구 달서구 본리동 1-1
849                   대구 동구 신암2동 1295-6
850                   대구 동구 효목2동 277-1
851                 대구 수성구 범물동 1346-12
853                       대구 중구 교동 70-3
866                 부산광역시 금정구 남산동 251-4
898                   서울특별시 광진구 광장동 561
908                서울특별시 동작구 사당동 252-15
922     서울특별시 영등포구 당산동6가 121-12 금복빌딩 2층
975       제주특별자치도 서귀포시 대정읍 하모리 1089-33
976               제주특별자치도 제주시 노형동 905-3
977              제주특별자치도 제주시 연동 294-11
978                제주특별자치도 제주시 연동 253-4
979             제주특별자치도 제주시 연동 314-112
980              제주특별자치도 제주시 연동 273-47
983            충청남도 논산시 채운면 화산리 538-18
994            충청남도 천안시 동남구 원성동 505-20
995              충청남도 천안시 서북구 성정동 24-6
Name: ADDR, Length: 262, dtype: object

In [48]:
naver_driver = webdriver.Chrome('C:\\Users\\1906182\\Downloads\\chromedriver')    #크롬 드라이버 설치 필요
naver_driver.get('https://map.naver.com/')
naver_driver.implicitly_wait(5)

In [20]:
result = []
for idx, record in tqdm_notebook(df2[df2.STATE==-1].iterrows()):
    addr = record.ADDR
    naver_driver.find_element_by_id('search-input').send_keys(addr)
    naver_driver.find_element_by_xpath("//button[@class='spm spm_ssch nclicks(STA.go)']").click()
    naver_driver.implicitly_wait(2)
    try:
        new_addr = naver_driver.find_element_by_class_name('nclicks(ado.title,09215101,1,Y)')
        record['NEW_ADDR'] = new_addr
    except:
        record['NEW_ADDR'] = ''
        
    result.append(record)
    naver_driver.find_element_by_id('search-input').clear()
    
df_get_addr = pd.DataFrame.from_records(result)
df_get_addr

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

,ID,CO_NAME,CO_NAME_R,URL,SEARCH_URL,REP_DIRECTOR,REP_PHONE_NUM,ESTABLISHED_DT,FOUNDING_DT,ADDR,...,SEARCH_REVOKE_YN,VT_STORE_YN,PARENT_ID,VERSION,REG_DT,MODIFIER,UPT_DT,CO_NAME_SYN,STATE,NEW_ADDR
0,2770685,드림미디어,드림미디어,None,0.0,None,01086440689,None,None,[수지원넷소프트] 정제엔진(172.29.211.154:21113)과 연결을 할 수 ...,...,0,0,0,0,2016-03-20 17:14:55,REFINING,2016-03-20 17:14:55,드림미디어,-1,
1,2852532,명진개발,명진개발,None,0.0,None,0312624274,None,None,용인시 수지읍수지2지구 1006-6 301호,...,0,0,0,0,2016-03-03 23:04:00,REFINING,2016-03-03 23:04:00,명진개발,-1,
2,3297306,용광,용광,None,0.0,None,0326532345,None,None,부천시 남구 소사동136,...,0,0,0,0,2016-03-03 22:38:35,REFINING,2016-03-03 22:38:35,용광,-1,
3,3507514,지승엔지니어링,지승엔지니어링,None,0.0,None,0326511229,None,None,경기부천시원미구중동 1288푸르지오상가3층308호,...,0,0,0,0,2016-06-09 10:42:59,REFINING,2017-05-15 15:34:47,지승엔지니어링,-1,
4,3806244,형정산기,형정산기,None,0.0,None,05510958976,None,None,원계리 650-2,...,0,0,0,0,2016-03-04 00:18:24,REFINING,2016-03-04 00:18:24,형정산기,-1,

### 크롤링

In [66]:
import pandas as pd
from addr_list import addr_list, sub_addr_list
from pykospacing import spacing
from selenium import webdriver
from sqlalchemy import create_engine
from selenium.webdriver.common.alert import Alert

In [6]:
df = pd.read_pickle('cg_state0')

In [40]:
def CrawlingAddr(lat, lon):
    if lat <30 or lon <100:     #좌표의 유효성 체크
        assert(0) # alert : runtime error 

    for i in range(5):
        try:
            driver.find_element_by_name('query').send_keys('{} {}'.format(lat, lon))#Searching input_Space == query, set the query 
        
        except:
            driver.get(crawling_url)
            continue
        
        break
            
    for i in range(5):  #웹 사이트에 좌표를 넣고 주소를 받아오는 과정
        try:
            driver.implicitly_wait(1) # 결과나오기 전에 crawl 하는 문제방지
            driver.find_element_by_id('submit').click() # 검색 시도
        except UnexpectedAlertPresentException: # 주소 검색결과 없을때 
            Alert(driver).accept()
            driver.find_element_by_name('query').clear()
            assert(0)
            
        except:
            continue

        cc = driver.find_elements_by_class_name('close') # 결과 받기
        if len(cc) >= 2:
            break

    driver.find_element_by_name('query').clear() # remove the query 
    res = cc[1].text.split()[1:] #cc - 1번째는 index , 2번째 자리수에 주소 데이터 존재
                                #split - 1번째는 대한민국 , 2번째부터 지번주소 존재
    res = ' '.join(res) 
    return res

In [23]:
crawling_url = 'http://mygeoposition.com/'
 #크롬 드라이버 설치 필요
driver = webdriver.Chrome('C:/Users/1906182/Downloads/chromedriver')
driver.get(crawling_url)
driver.implicitly_wait(5)
Alert(driver).accept()  #알람 수락

In [43]:
CrawlingAddr(37.5525304438664, 126.837231442889)

'서울특별시 강서구 내발산동 우장산로2길 49'

### 크롤 작업 시작

In [10]:
df.head()

,ID,CO_NAME_R,ADDR,LATITUDE,LONGITUDE,REP_PHONE_NUM,STATE
33,36,사단21C도시정책개발원,서울특별시 서초구 반포3동,37.512033,127.005575,025344007,0
214,224,사단아시아경제공동체재단,인천광역시 연수구 송도동,37.377012,126.645640,027303715,0
217,227,사단아이코리아,서울특별시 송파구 장지동,37.478500,127.135400,024131010,0
272,285,사단정해복지부설한신메디피아의원,서울특별시 서초구 잠원동,37.514951,127.014219,0269565564,0
313,327,사단한국건강관리협회경기지부,경기도 수원시 영통구 영통동,37.256600,127.073800,0312056232,0

In [11]:
result = []
for idx, record in tqdm_notebook(df.iterrows()):
    addr = record.ADDR
    if len(addr) > 10: #검색하지 않는 조건 
        record['NEW_ADDR'] = ''
        record['ADDR_CMP_YN'] = 0
        result.append(record) 
        continue
    
    #검색해서 새로 넣어야 하는 주소
    x = record.LATITUDE
    y = record.LONGITUDE
    try :
        new_addr = CrawlingAddr(float(x), float(y))
        record['NEW_ADDR'] = new_addr
    
        if addr in new_addr: record['ADDR_CMP_YN'] = 1 # 크롤링해온 주소가 이전 주소를 포함하고 있으면 올바른 주소일 확률이 높음
        else: record['ADDR_CMP_YN'] = -1 #크롤링해온 주소가 이전 주소와 다름
        result.append(record)
    except :
        print(idx,record)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [17]:
df_done = pd.DataFrame(result)

In [22]:
del result

In [21]:
df_done[df_done.ADDR_CMP_YN != 0]

,ID,CO_NAME_R,ADDR,LATITUDE,LONGITUDE,REP_PHONE_NUM,STATE,NEW_ADDR,ADDR_CMP_YN
1573,1668,가인렌트카,경기도 하남시 선동,37.583000,127.188700,07045290060,0,경기도 하남시 선동 398,1
1883,1989,건영렌트카,경기도 하남시 선동,37.583000,127.188700,07079641402,0,경기도 하남시 선동 398,1
1945,2054,건영렌트카,경기도 하남시 항동,37.500300,127.183100,07079653250,0,경기도 하남시 항동 산131,1
4058,4312,로얄물류앤케이지비,경기도 의왕시 삼동,37.322625,126.956875,0316873833,0,경기도 의왕시 부곡동 부곡복지관길 28,-1
4849,5164,반도렌트카,경기도 화성시 능동,37.208943,127.060275,0313600433,0,화성시 동탄3동 801 숲속마을자연앤아너스빌아파트,-1
10092,10827,청명렌트카,경기도 오산시 궐동,37.161699,127.057038,0318318163,0,경기도 오산시 남촌동 262-1,-1
11467,12283,한국렌트카,강원도 강릉시 교동,37.769300,128.888300,0338230606,0,강원도 강릉시 교1동 688-1,-1
13541,14498,123플라워,경기도 의왕시 삼동,37.322625,126.956875,0314621670,0,경기도 의왕시 부곡동 부곡복지관길 28,-1
37637,41084,KGB공장사무실이사,경기도 군포시 당동,37.349965,126.942600,07045839208,0,경기도 군포시 당동 786-24,1
37702,41149,KGB공장사무실이사,경기도 의왕시 삼동,37.322625,126.956875,07045839926,0,경기도 의왕시 부곡동 부곡복지관길 28,-1
37703,41150,KGB공장사무실이사,경기도 의왕시 이동,37.336300,126.959300,07045839919,0,경기도 의왕시 이동 360-8,1
38653,42231,KT금호렌트카,경기도 광주시 역동,37.400024,127.251488,03180270050,0,경기도 광주시 역동 176-18,1
38689,42267,KT금호렌트카,강원도 강릉시 교동,37.769300,128.888300,0338230052,0,강원도 강릉시 교1동 688-1,-1
39748,43367,LG노트북서비스센터,경기도 의왕시 삼동,37.322625,126.956875,0313603802,0,경기도 의왕시 부곡동 부곡복지관길 28,-1
41669,45525,MSI노트북서비스센터,경기도 군포시 당동,37.349965,126.942600,0313603294,0,경기도 군포시 당동 786-24,1
41741,45600,MSI노트북서비스센터,경기도 의왕시 삼동,37.322625,126.956875,07049834549,0,경기도 의왕시 부곡동 부곡복지관길 28,-1
52530,56873,가가퀵다마스라보1톤화물용달,경기도 의왕시 삼동,37.322625,126.956875,07045619244,0,경기도 의왕시 부곡동 부곡복지관길 28,-1
52566,56909,가가퀵다마스라보1톤화물용달,경기도 광주시 직동,37.401500,127.189400,07045831316,0,경기도 광주시 광남동 산20-3,-1
52700,57045,가가퀵다마스라보1톤화물용달,경기도 시흥시 포동,37.405549,126.776825,07045833854,0,경기도 시흥시 포동 74-2,1
52732,57077,가가퀵다마스라보1톤화물용달,경기도 광주시 역동,37.400024,127.251488,07045835855,0,경기도 광주시 역동 176-18,1
52737,57082,가가퀵다마스라보1톤화물용달,경기도 광주시 목동,37.381700,127.198900,07045835894,0,경기도 광주시 목동 309-16,1
52776,57121,가가퀵다마스라보1톤화물용달,경기도 광주시 삼동,37.415099,127.198013,07045836282,0,경기도 광주시 삼동 산54-1,1
57369,61838,가야동계곡,강원도 인제군 북면,38.140182,128.441124,0334622554,0,강원도 인제군 북면 868-1,1
60662,65228,가평축령산잣나무숲,경기도 가평군 상면,37.769785,127.334655,0315920681,0,경기도 가평군 상면 행현리 922-4,1
62331,66946,감동꽃배달시민장례식장효사랑병원고려종합,경기도 여주시 하동,37.302495,127.619197,07073896112,0,경기도 여주군 여주읍 하리 25-1,-1
66314,71058,강릉아름다운사람들미용학원,강원도 속초시 교동,38.201900,128.573841,0339117300,0,강원도 속초시 교동 767-39,1
74769,79913,거침없는하이퀵,경기도 군포시 당동,37.349965,126.942600,0313411575,0,경기도 군포시 당동 786-24,1
76382,81628,검정교육전문학원,강원도 속초시 교동,38.201900,128.573841,07045463320,0,강원도 속초시 교동 767-39,1
77720,83037,경기렌트카,경기도 군포시 당동,37.349965,126.942600,07045395588,0,경기도 군포시 당동 786-24,1
77849,83171,경기에어컨,경기도 군포시 당동,37.349965,126.942600,07049884338,0,경기도 군포시 당동 786-24,1
...,...,...,...,...,...,...,...,...,...
2668761,8383297,올리브영신반포점,,37.508212,127.003679,025322968,0,서울특별시 서초구 잠원동 72-3,1
2668762,8383298,올리브영부산애플아울렛점,,35.163165,128.980996,0515596250,0,부산광역시 사상구 괘법동 사상로 201,1
2669605,8384144,우리동네밥집,경기도 오산시 궐동,37.158331,127.068262,00000000,0,경기도 오산시 궐동 은여울로7번길 20-1,1
2670773,8385315,강릉역주차장TS승차장,강원도 강릉시 교동,37.762114,128.896329,00000000,0,강원도 강릉시 교2동 225-4,-1
2671318,8385861,올리브영구산역점,,37.610727,126.917550,15220882,0,서울특별시 은평구 역촌동 서오릉로 137,1
2671319,8385862,올리브영일산탄현점,,37.691688,126.763557,15220882,0,경기도 고양시 일산서구 일산1동 일현로 54,1
2677706,8392255,KEB하나은행365상동중동삼익상가지점,경기도 부천시 상동,37.493933,126.752795,00000000,0,부천시 상동 1828 반달마을삼익아파트,-1
2678368,8392918,천지향정통중화요리,,37.644356,126.834303,0319708599,0,경기도 고양시 덕양구 화정동 869,1
2680874,8395427,보양스토리,,37.400908,127.118149,0316229189,0,경기도 성남시 분당구 삼평동 15,1
2683863,8398418,구르메카츠미또미,,35.099547,129.030665,01047011519,0,부산광역시 중구 창선동1가 30-5,1
2687472,8402033,서동탄역파크자이2차아파트2018년9월예정,경기도 화성시 능동,37.202047,127.047445,00000000,0,경기도 화성시 동탄3동 산160-5,-1
2695959,8410530,올리브영평택신장점,,37.080803,127.051878,0316677498,0,경기도 평택시 신장2동 314-3,1
2695960,8410531,올리브영공릉역점,,37.627061,127.077019,029488739,0,서울특별시 노원구 공릉2동 441-92,1
2695961,8410532,올리브영전주삼천점,,35.798295,127.115131,0632217923,0,전라북도 전주시 완산구 삼천3동 용리로 46,1
2695968,8410539,올리브영제주삼화점,,33.516122,126.580981,0647250929,0,제주특별자치도 제주시 도련일동 2095,1
2696560,8411132,올리브영전주대점,,35.818196,127.092317,0632217874,0,전라북도 전주시 완산구 효자4동 1167-1,1
2697296,8411868,올리브영증평점,,36.782694,127.579967,0438365023,0,충청북도 증평군 증평읍 중앙로 184-1,1
2697297,8411869,올리브영양주덕정점,,37.837707,127.068378,0318586929,0,경기도 양주시 회천1동 206-2,1
2697298,8411870,올리브영군산신송사거리점,,35.963671,126.716488,0634612139,0,전라북도 군산시 수송동 수송로 192,1
2697299,8411871,올리브영울산터미널점,,35.537259,129.340532,0522715905,0,울산광역시 남구 삼산동 1617-14,1
2697300,8411872,올리브영부평역남부점,,37.487857,126.724881,0325058406,0,인천광역시 부평구 부평동 697-30,1
2697301,8411873,올리브영청주나보나스퀘어점,,36.634278,127.491059,0432212648,0,충청북도 청주시 상당구 성안동 93-1,1
2698890,8413463,올리브영노량진중앙점,,37.513401,126.943956,028225294,0,서울특별시 동작구 노량진동 114-5,1
2699247,8413820,교운가길1번길,강원도 춘천시 교동,37.878420,127.735341,00000000,0,강원도 춘천시 교동 교운가길1번길 6-3,1
2700964,8415538,아이엠아이,,37.573015,126.988142,07087084541,0,서울특별시 종로구 종로1.2.3.4가동 68-3,1
2701254,8415828,쉘위댄스학원,,37.535958,127.137966,01088409695,0,서울특별시 강동구 길동 천호대로177길 34,1
2701951,8416525,한국만화영상진흥원꿈바라,경기도 부천시 상동,37.508897,126.742442,00000000,0,경기도 부천시 원미구 상동 623-5,-1
2702252,8416827,올리브영천안쌍용광명점,,36.803259,127.129625,0415714797,0,충청남도 천안시 서북구 쌍용1동 미라8길 19,1
2702253,8416828,올리브영의정부장암점,,37.726393,127.053438,0318268729,0,경기도 의정부시 장암동 20-14,1
2702254,8416829,올리브영창원소답점,,35.265141,128.625824,0552516684,0,경상남도 창원시 의창구 소답동 121-6,1

In [45]:
del df

In [18]:
# 비어있는 주소를 좌료값으로 검색하여 새로 넣고 싶다

result = []
for idx, record in tqdm(df[df.STATE == 0].iterrows()):
    addr = record.ADDR
    if len(addr) > 10: #검색하지 않는 조건 
        record['NEW_ADDR'] = ''
        record['ADDR_CMP_YN'] = 0
        result.append(record) 
        continue
    
    #검색해서 새로 넣어야 하는 주소
    x = record.LATITUDE
    y = record.LONGITUDE
    try :
        new_addr = CrawlingAddr(float(x), float(y))
        record['NEW_ADDR'] = new_addr
    
        if addr in new_addr: record['ADDR_CMP_YN'] = 1
        else: record['ADDR_CMP_YN'] = -1
        result.append(record)
    except :
        print(idx,record)

1415it [00:07, 192.66it/s]

11467 ID                    12283
CO_NAME_R             한국렌트카
ADDR             강원도 강릉시 교동
LATITUDE            37.7693
LONGITUDE           128.888
REP_PHONE_NUM    0338230606
STATE                     0
Name: 11467, dtype: object

1592it [00:08, 188.35it/s]

13541 ID                    14498
CO_NAME_R            123플라워
ADDR             경기도 의왕시 삼동
LATITUDE            37.3226
LONGITUDE           126.957
REP_PHONE_NUM    0314621670
STATE                     0
Name: 13541, dtype: object

2869it [00:11, 254.33it/s]

37637 ID                     41084
CO_NAME_R         KGB공장사무실이사
ADDR              경기도 군포시 당동
LATITUDE               37.35
LONGITUDE            126.943
REP_PHONE_NUM    07045839208
STATE                      0
Name: 37637, dtype: object

3144it [00:17, 184.13it/s]

38689 ID                    42267
CO_NAME_R           KT금호렌트카
ADDR             강원도 강릉시 교동
LATITUDE            37.7693
LONGITUDE           128.888
REP_PHONE_NUM    0338230052
STATE                     0
Name: 38689, dtype: object

3170it [00:24, 131.92it/s]

39748 ID                    43367
CO_NAME_R        LG노트북서비스센터
ADDR             경기도 의왕시 삼동
LATITUDE            37.3226
LONGITUDE           126.957
REP_PHONE_NUM    0313603802
STATE                     0
Name: 39748, dtype: object

3211it [00:28, 114.18it/s]

KeyboardInterrupt:

In [35]:
# df2 = pd.DataFrame(result)
# df2.to_pickle('data/my_company_list_done_crawl_before250M.pk')
print(df2[df2.ADDR_CMP_YN==0].shape)
df2[df2.ADDR_CMP_YN==0].head()

(105822, 9)

,ID,CO_NAME_R,ADDR,LATITUDE,LONGITUDE,REP_PHONE_NUM,STATE,NEW_ADDR,ADDR_CMP_YN
33,36,사단21C도시정책개발원,서울특별시 서초구 반포3동,37.512033,127.005575,025344007,0,,0
214,224,사단아시아경제공동체재단,인천광역시 연수구 송도동,37.377012,126.645640,027303715,0,,0
217,227,사단아이코리아,서울특별시 송파구 장지동,37.478500,127.135400,024131010,0,,0
272,285,사단정해복지부설한신메디피아의원,서울특별시 서초구 잠원동,37.514951,127.014219,0269565564,0,,0
313,327,사단한국건강관리협회경기지부,경기도 수원시 영통구 영통동,37.256600,127.073800,0312056232,0,,0

In [36]:
import gc
gc.collect()
# del df
# del result
# df2.to_pickle('data/my_company_list_done_crawl.pk')

2412068