## HANA FINTECH LAB - DATA EXTRACTING
1. RETREIVE WEEKLY DATA 
 - (where) exclude : negative payment 
 - revisit_his : addr, card_name, cnt_pay
 - inner join : company_id(co_name, cate, cate1), epopcon_id(latitude1, longitude1)
 * cardname, co_name, addr - refining required
2. MERGE & SUM+GROUP BY 
3. EXPORT AS XML FILE

In [1]:
from sqlalchemy import create_engine
import pymysql, pandas as pd
pymysql.install_as_MySQLdb()
import MySQLdb

### REVISIT HIS DATA - 우선순위 3번째

In [ ]:
"""
select 
EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT
from 
MEUMS_COMP_REVISIT_HIS
where 
PAYMENT > 0 
AND 
DEAL_DT BETWEEN "2018-04-13 00:00:00" AND "2018-04-18 23:59:59";
"""

In [2]:
p1 = pd.read_pickle('april_data/revisit_his_p1.pick')
p2 = pd.read_pickle('april_data/revisit_his_p2.pick')
p3 = pd.read_pickle('april_data/revisit_his_p3.pick')
p4 = pd.read_pickle('april_data/revisit_his_p4.pick')
p5 = pd.read_pickle('april_data/revisit_his_p5.pick')


print(p1.shape) 
print(p2.shape)
print(p3.shape)
print(p4.shape)
print(p5.shape)

(3470820, 4)
(3506974, 4)
(3565795, 4)
(3597118, 4)
(3788319, 4)

### COMPANY INFO  - 우선순위 1번째

In [30]:
%%time
engine = create_engine("mysql://eumsread:eumsread00!q@133.186.143.151:13306/eums-shared?charset=utf8mb4",encoding='utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000})
# conn = pymysql.connect(host='133.186.143.151', user='eumsread', password='eumsread00!q', db='eums-shared', port=13306,charset='utf8')

# 대합탕수제비목동포차의 경우, -1이지만 실제 존재하는 상점이다. -1제외 하지 않겠다
p1_company = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p1.COMPANY_ID.unique().tolist()))+';',engine) 
p2_company = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p2.COMPANY_ID.unique().tolist()))+';',engine) 
p3_company = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p3.COMPANY_ID.unique().tolist()))+';',engine) 
p4_company = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p4.COMPANY_ID.unique().tolist()))+';',engine) 
p5_company = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p5.COMPANY_ID.unique().tolist()))+';',engine) 

company = pd.concat([p1_company,p2_company,p3_company,p4_company,p5_company])
company = company.drop_duplicates('COMPANY_ID')
# company.to_pickle('april_data/company.pick')
print(company.shape)

(910106, 5)
Wall time: 1min 10s

company = pd.read_pickle('april_data/company.pick')
print(company.shape)

In [31]:
# COMPANY NAME, ADDR 정제
def cleanChar(sentence):
    import re
    pattern = re.compile(r'\s{0,2}\&amp\;\s{0,2}')
    sentence = re.sub(pattern,'@',sentence)
    pattern = re.compile(r'\s{0,2}\&.{2,4}\;\s{0,2}|\<|\>|\'|\"')
    sentence = re.sub(pattern,'',sentence)
    pattern = re.compile(r'\&')
    sentence = re.sub(pattern,'@',sentence)
    return sentence


company[['ADDR','CO_NAME']]=company[['ADDR','CO_NAME']].applymap(cleanChar)
print(company.shape)

(910106, 5)

In [32]:
def refineHana(data):
    print('total: ', data.shape)
    
    #화장실제거
    test0 = data[~data['CO_NAME'].str.contains('화장실|공중전화.*\)$')]
    print('nonRestroom: ',test0.shape)
    test = data[data['CO_NAME'].str.contains('화장실|공중전화.*\)$')]  
    print('Restroom: ',test.shape)
    
    #1
    test_public = test[test['CATE']=='공공']  
    
    print('Restroom-public: ',test_public.shape)    
    etc = test_public[~test_public['CO_NAME'].str.contains('주유소|충전소|가스|병원|수련관|복지관')]
    a = test_public[test_public['CO_NAME'].str.contains('주유소')].assign(CATE = '교통', CATE1 = '주유소')
    b = test_public[test_public['CO_NAME'].str.contains('충전소|가스')].assign(CATE = '교통', CATE1 = '충전소')
    c = test_public[test_public['CO_NAME'].str.contains('병원')].assign(CATE = '의료/건강', CATE1 = '병원')
    d = test_public[test_public['CO_NAME'].str.contains('수련관')].assign(CATE = '교육', CATE1 = '수련원')
    e = test_public[test_public['CO_NAME'].str.contains('복지관')].assign(CATE = '공공', CATE1 = '사회복지시설')
    test_public = etc.append([a,b,c,d,e])
    
    print('after Restroom-public: ',test_public.shape) # 카테고리 먼저 수정후에 이름 수정한다.   
    test_public=test_public.assign(CO_NAME=test_public['CO_NAME'].str.replace('공중화장실','')) #460
    test_public=test_public.assign(CO_NAME=test_public['CO_NAME'].str.replace('개방화장실',''))#1157
    test_public=test_public.assign(CO_NAME=test_public['CO_NAME'].str.replace('화장실',''))#20 - 충전소 화장실, 협동조합 화장실
    test_public=test_public.assign(CO_NAME=test_public['CO_NAME'].str.replace('공중전화.*\)$',''))#20 - 충전소 화장실, 협동조합 화장실
    # A=A.assign(CO_NAME=A['CO_NAME'].str.replace('공중화장실',''))
    
    #2
    test_nonPublic = test[test['CATE']!='공공']
    print('Restroom-nonPublic: ',test_nonPublic.shape)
    test_nonPublic=test_nonPublic.assign(CO_NAME=test_nonPublic['CO_NAME'].str.replace('공중화장실','')) #460
    test_nonPublic=test_nonPublic.assign(CO_NAME=test_nonPublic['CO_NAME'].str.replace('개방화장실',''))#1157
    test_nonPublic=test_nonPublic.assign(CO_NAME=test_nonPublic['CO_NAME'].str.replace('화장실',''))#20 - 충전소 화장실, 협동조합 화장실
    test_nonPublic=test_nonPublic.assign(CO_NAME=test_nonPublic['CO_NAME'].str.replace('공중전화.*\)$',''))#112 - 공중전화 제거 0821
#     test_nonPublic.CO_NAME=test_nonPublic['CO_NAME'].str.replace('공중화장실','') #460
    print('after Restroom-nonPublic: ',test_nonPublic.shape)
    
    #3
    temp = test_public.append(test_nonPublic)
    print('check Restroom: ',temp.shape)
    
#     temp.append(test0).sort_values(by=['EPOPCON_ID','COMPANY_ID','CARD_NAME'], axis=0)
    print('check total: ',temp.append(test0).shape)
    return  temp.append(test0)


company = refineHana(company)
print(company.shape)
company.to_pickle('april_data/company0821.pick')

total:  (910106, 5)
nonRestroom:  (909928, 5)
Restroom:  (178, 5)
Restroom-public:  (28, 5)
after Restroom-public:  (28, 5)
Restroom-nonPublic:  (150, 5)
after Restroom-nonPublic:  (150, 5)
check Restroom:  (178, 5)
check total:  (910106, 5)
(910106, 5)

In [3]:
company = pd.read_pickle('april_data/company0821.pick')

company[company['CO_NAME'].str.contains('공중전화')]

### MERGE DATA + CLEAN(CARD_NAME/COMPANY_NAME/ADDR)

In [4]:
%%time
p = pd.concat([p1,p2,p3,p4,p5])
print(p.shape) 

#1.  CARD_NAME 정제 
#a.find('(')
def cleanData(sentence):
    import re
    pattern = re.compile(r'\(.{0,4}\)|RE\)|\<현장즉시결제\>|\[|\s|카드|\<|\>|\'|\"')
    sentence = re.sub(pattern,'',sentence)
    return sentence # return 안쓰면 none값 뜬다.
    
p = p.assign( CARD_NAME = p['CARD_NAME'].apply(cleanData) )
p.to_pickle('april_data/cardname_clean.pick')
# p.head(3)

(17929026, 7)
Wall time: 1min 40s

company= pd.read_pickle('april_data/company.pick')
lifezone= pd.read_pickle('april_data/lifezone.pick')
p= pd.read_pickle('april_data/cardname_clean.pick')
p.head(2)

In [5]:
import gc
gc.collect()
# del p
# p_group.columns = ['EPOPCON_ID','COMPANY_ID','CARD_NAME','CNT_PAY','SUM_PAY'] 
# p_group.head()

0

### JOIN

In [6]:
p = p.assign( EPOPCON_ID = p['EPOPCON_ID'].apply(lambda x : x.replace('cjcis','')) )# EPOPCON_ID 정제

p_result = pd.merge(p,company, how='inner', on='COMPANY_ID') # 4000307 존재하지 않는 상점id 제거
p_result.to_pickle('april_data/total_result.pick')
print(p_result.shape)
p_result.head(1)

(17929021, 11)

,EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,DEAL_LOCATION,DEAL_DT,REG_DT,CO_NAME,CATE,CATE1,ADDR
0,15a3df9fce946d90511ca0dd6,6107601,경남BC,8000,"0.0,0.0",2018-04-01 00:06:05,2018-03-31 08:06:11,공항철도서울역사,교통,기차,서울 용산구 동자동 43-205

### Test

In [7]:
#xml 특수문자. 오류 정제 점검하기

print(p_result[p_result['ADDR'].str.contains('["\'&<>]')].shape)
print(p_result[p_result['CO_NAME'].str.contains('["\'&<>]')].shape)
print(p_result[p_result['CO_NAME'].str.contains('화장실|공중전화')].shape)
p_result[p_result['CARD_NAME'].str.contains('["\'&<>]')].shape
p_result[p_result['CO_NAME'].str.contains('화장실|공중전화')]

(0, 11)
(0, 11)
(2, 11)

,EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,DEAL_LOCATION,DEAL_DT,REG_DT,CO_NAME,CATE,CATE1,ADDR
17722345,15a39a3815a93f40965bd75de,7141037,하나,140,"0.0,0.0",2018-04-19 21:30:46,2018-04-19 22:06:29,KT 공중전화수선실,통신,휴대폰,경기 안산시 단원구 원시동 773-3
17722346,15a3a7eb4f652660632fc500e,7141037,하나,110,"0.0,0.0",2018-04-24 20:33:51,2018-04-24 21:19:47,KT 공중전화수선실,통신,휴대폰,경기 안산시 단원구 원시동 773-3

p.to_pickle('april_data/payment_april0821.pick')

# p = pd.read_pickle('april_data/hana_april.pick')
p_result.iloc[1006946:,].head(2)

In [12]:
# p_result[p_result.isnull()]
# p[p.EPOPCON_ID.isnull()|p.COMPANY_ID.isnull()|p.CARD_NAME.isnull()|p.PAYMENT.isnull()]
p_result[p_result.EPOPCON_ID.isnull()|p_result.COMPANY_ID.isnull()|p_result.CARD_NAME.isnull()|p_result.PAYMENT.isnull()]

Empty DataFrame
Columns: [EPOPCON_ID, COMPANY_ID, CARD_NAME, PAYMENT, DEAL_LOCATION, DEAL_DT, REG_DT, CO_NAME, CATE, CATE1, ADDR]
Index: []

In [13]:
p_result[p_result.CO_NAME.isnull()|p_result.COMPANY_ID.isnull()|p_result.CATE.isnull()|p_result.CATE1.isnull()]

Empty DataFrame
Columns: [EPOPCON_ID, COMPANY_ID, CARD_NAME, PAYMENT, DEAL_LOCATION, DEAL_DT, REG_DT, CO_NAME, CATE, CATE1, ADDR]
Index: []

### EXPORT XML FILE 

- UnicodeDecode Error : illegal multibyte sequence

p=p.replace('\\xa0', '')  ->  with open(filename, mode, encoding='utf8') as f:

In [10]:
#https://stackoverflow.com/questions/18574108/how-do-convert-a-pandas-dataframe-to-xml

def to_xml(df, filename=None, mode='w'):
    bigxml=['<?xml version="1.0"?>','<resultset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">']
    def row_to_xml(row):
        xml = [' <row>']
        for i, col_name in enumerate(row.index):
            xml.append('  <field name="{0}">{1}</field>'.format(col_name, row.iloc[i]))
        xml.append(' </row>')
        return '\n'.join(xml)
    resultset = '\n'.join(df.apply(row_to_xml, axis=1))
    bigxml.append(resultset)
    bigxml.append('</resultset>')
    res = '\n'.join(bigxml)
    
    if filename is None:
        return res
    with open(filename, mode, encoding='utf8') as f:
        f.write(res)

pd.DataFrame.to_xml = to_xml

In [11]:
# p_result.shape

for i in range(0,10):
    p_result[1800000*i:1800000*(i+1)].to_xml('april_data/result0821_{}.xml'.format(str(i)))

In [14]:
p_result[1800000*1:1800000*(1+1)]

,EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,DEAL_LOCATION,DEAL_DT,REG_DT,CO_NAME,CATE,CATE1,ADDR
1800000,15ac0443671e4273656d2b363,740666,신한,10900,"0.0,0.0",2018-04-30 15:55:49,2018-04-30 15:55:53,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800001,15a39aa966259ad0a9e33a6a5,740666,현대ZERO,106750,"0.0,0.0",2018-04-30 15:55:36,2018-04-30 15:55:57,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800002,15a39be3db267560d56e54e01,740666,현대,26200,"0.0,0.0",2018-04-30 15:55:26,2018-04-30 15:56:02,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800003,15a578ec4f652660632fd64c5,740666,씨티,9900,"0.0,0.0",2018-04-30 15:55:48,2018-04-30 15:56:07,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800004,15aa2a35eb2675635e258be60,740666,현대,1900,"0.0,0.0",2018-04-30 15:55:54,2018-04-30 15:56:09,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800005,15a403591e946d90511ca2c26,740666,신한,21700,"0.0,0.0",2018-04-30 15:55:46,2018-04-30 15:56:10,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800006,15a3a3c0ae946d90511c96055,740666,우리,80320,"0.0,0.0",2018-04-30 15:55:28,2018-04-30 15:56:16,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800007,15a39373871e42756fbe7cf4f,740666,삼성,60100,"0.0,0.0",2018-04-30 15:56:06,2018-04-30 15:56:19,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800008,15a3a31e171e427692251ae50,740666,우리,279000,"0.0,0.0",2018-04-30 15:56:08,2018-04-30 15:56:21,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800009,15a3949036259ad0a9e32ceb3,740666,신한,2900,"0.0,0.0",2018-04-30 15:55:44,2018-04-30 15:56:27,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800010,15a39944e5a93f40965bd37d5,740666,현대,23400,"0.0,0.0",2018-04-30 15:56:15,2018-04-30 15:56:28,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800011,15a3a1e125a93f41b931c3b52,740666,신한,46200,"0.0,0.0",2018-04-30 15:55:46,2018-04-30 15:56:30,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800012,15a39b20f6259ad0a9e33c03a,740666,롯데,53200,"0.0,0.0",2018-04-30 15:56:20,2018-04-30 15:56:40,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800013,15a38e87a71e42756fbe6da40,740666,현대,15840,"0.0,0.0",2018-04-30 15:56:19,2018-04-30 15:56:46,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800014,15a4058715a93f41b931d2e2f,740666,삼성,24310,"0.0,0.0",2018-04-30 15:57:14,2018-04-30 15:57:18,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800015,15ad1d7ef5a93f40fafc8de55,740666,롯데,20720,"0.0,0.0",2018-04-30 15:57:13,2018-04-30 15:57:21,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800016,15a39d7616259ad0a9e341c7a,740666,삼성가족,36700,"0.0,0.0",2018-04-30 15:57:10,2018-04-30 15:57:24,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800017,15a39f1b771e42756fbe97177,740666,현대,9900,"0.0,0.0",2018-04-30 15:57:16,2018-04-30 15:57:31,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800018,15a3adf3eb267561f3d74c9be,740666,기업BC,31900,"0.0,0.0",2018-04-30 15:57:29,2018-04-30 15:57:43,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800019,15a39a430e946d9170e4cb49a,740666,KB국민,263610,"0.0,0.0",2018-04-30 15:57:29,2018-04-30 15:57:46,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800020,15a391e27e946d9170e4b6cf9,740666,KB국민체크,57800,"0.0,0.0",2018-04-30 15:57:04,2018-04-30 15:57:46,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800021,15a4c053171e427692252dbdf,740666,우리,66700,"0.0,0.0",2018-04-30 15:57:33,2018-04-30 15:57:48,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800022,15a40785ce4f196065e645541,740666,우리,35800,"0.0,0.0",2018-04-30 15:57:12,2018-04-30 15:57:57,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800023,15a38fcaa6259ad0a9e31d4e9,740666,신한,29400,"0.0,0.0",2018-04-30 15:57:54,2018-04-30 15:58:06,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800024,15ad8301271e4273656d31a13,740666,신한,56900,"0.0,0.0",2018-04-30 15:57:35,2018-04-30 15:58:10,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800025,15a39f96de946d9170e4d7f1b,740666,씨티,20600,"0.0,0.0",2018-04-30 15:53:27,2018-04-30 15:58:20,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800026,15a814730e946d903613748b9,740666,농협,53800,"0.0,0.0",2018-04-30 15:58:09,2018-04-30 15:58:23,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800027,15a46f60b5a93f41b931d6217,740666,KB국민,14900,"0.0,0.0",2018-04-30 15:57:59,2018-04-30 15:58:43,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800028,15a38dc085a93f40965bb9848,740666,현대ZERO,14900,"0.0,0.0",2018-04-30 15:58:21,2018-04-30 15:58:51,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
1800029,15a3b13ec6259ad1c6c855f8e,740666,롯데,12500,"0.0,0.0",2018-04-30 15:58:42,2018-04-30 15:58:54,위메프,온라인쇼핑,온라인쇼핑,서울 강남구 삼성동 168-6
...,...,...,...,...,...,...,...,...,...,...,...
3599970,15a3931666259ad0a9e3294f4,950788,현대,44220,"0.0,0.0",2018-04-24 15:51:31,2018-04-24 15:51:50,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599971,15a3a0651b267560d56e5d4c2,950788,현대,40310,"0.0,0.0",2018-04-24 15:51:39,2018-04-24 15:51:54,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599972,15a3cf688fec3e50db1189be0,950788,현대,13230,"0.0,0.0",2018-04-24 15:51:56,2018-04-24 15:51:59,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599973,15a3b12d1f652660632fc72d5,950788,롯데,19800,"0.0,0.0",2018-04-24 15:51:48,2018-04-24 15:52:02,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599974,15a3915ecb267560d56e3897a,950788,삼성,39070,"0.0,0.0",2018-04-24 15:52:06,2018-04-24 15:52:15,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599975,15a39a919e946d9170e4cc716,950788,롯데,29000,"0.0,0.0",2018-04-24 15:52:06,2018-04-24 15:52:21,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599976,15a3beea1e946d90511c9e152,950788,현대,7900,"0.0,0.0",2018-04-24 15:52:18,2018-04-24 15:52:38,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599977,15a7c01ec5a93f40fafc71fca,950788,삼성,23900,"0.0,0.0",2018-04-24 15:52:35,2018-04-24 15:52:51,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599978,15a39eb6f6259ad0a9e344062,950788,농협,34400,"0.0,0.0",2018-04-24 15:52:41,2018-04-24 15:52:54,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599979,15a3aa8f871e4276922520256,950788,신한,26370,"0.0,0.0",2018-04-24 15:52:51,2018-04-24 15:53:06,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599980,15a38cbb75a93f40965bb83dc,950788,농협,4300,"0.0,0.0",2018-04-24 15:52:53,2018-04-24 15:53:06,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599981,15a3904c471e42756fbe71548,950788,현대ZERO,31320,"0.0,0.0",2018-04-24 15:53:05,2018-04-24 15:53:09,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599982,15a3b040b71e4276922521608,950788,삼성,27700,"0.0,0.0",2018-04-24 15:52:28,2018-04-24 15:53:11,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599983,15a6fff9371e42707befb1a62,950788,하나,13600,"0.0,0.0",2018-04-24 15:53:14,2018-04-24 15:53:28,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599984,15aa641946259ad1314de4b41,950788,KB국민,56340,"0.0,0.0",2018-04-24 15:53:12,2018-04-24 15:53:31,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599985,15a3ca16771e4276922524a70,950788,농협,127000,"0.0,0.0",2018-04-24 15:52:54,2018-04-24 15:53:37,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599986,15a3a541371e427692251d3ce,950788,기업BC,11900,"0.0,0.0",2018-04-24 15:53:14,2018-04-24 15:53:47,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599987,15abbb21b6259ad1314de96a5,950788,현대,14020,"0.0,0.0",2018-04-24 15:52:06,2018-04-24 15:53:49,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599988,15a3a7542b267561f3d74b03c,950788,KB국민,17700,"0.0,0.0",2018-04-24 15:53:41,2018-04-24 15:53:54,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599989,15a3996d0e946d9170e4c7e63,950788,삼성,25500,"0.0,0.0",2018-04-24 15:54:03,2018-04-24 15:54:15,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599990,15a39b5355a93f40965bdb480,950788,신한,7500,"0.0,0.0",2018-04-24 15:54:45,2018-04-24 15:54:59,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599991,15a3a1c355a93f41b931c3818,950788,신한,64642,"0.0,0.0",2018-04-24 15:54:39,2018-04-24 15:55:00,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599992,15a3d22270200ba077c8b0220,950788,KB국민,10000,"0.0,0.0",2018-04-24 15:54:37,2018-04-24 15:55:04,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599993,15a46ef72f652660632fd1404,950788,KB국민,65860,"0.0,0.0",2018-04-24 15:54:48,2018-04-24 15:55:04,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599994,15a3a46b7e946d90511c96be6,950788,우리,4280,"0.0,0.0",2018-04-24 15:55:19,2018-04-24 15:55:26,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599995,15a38ff0e71e42756fbe6ff73,950788,롯데,19620,"0.0,0.0",2018-04-24 15:55:11,2018-04-24 15:55:26,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599996,15a66b324e946d94dc6e53b53,950788,신한,275280,"0.0,0.0",2018-04-24 15:54:44,2018-04-24 15:55:31,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599997,15a398ec46259ad0a9e333abe,950788,신한,59200,"0.0,0.0",2018-04-24 15:54:21,2018-04-24 15:55:37,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599998,15a48e4825a93f41b931d721a,950788,농협,29670,"0.0,0.0",2018-04-24 15:55:20,2018-04-24 15:55:37,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층
3599999,15a434550f652660632fcfc82,950788,신한,169100,"0.0,0.0",2018-04-24 15:55:05,2018-04-24 15:55:48,티켓몬스터,온라인쇼핑,온라인쇼핑,서울 강남구 대치동 1004 동일타워 1~2층

In [47]:
%%time
#tmp.to_xml('test.csv')
# p.iloc[:2500000,].to_xml('april_data/hana_april1.xml')
# p.iloc[2500000:5000000,].to_xml('april_data/hana_april2.xml')
# p.iloc[5000000:7500000,].to_xml('april_data/hana_april3.xml')
# p.iloc[7500000:,].to_xml('april_data/hana_april4.xml')
p_result[:3000000].to_xml('april_data/payment_april0821_1.xml')
p_result[5000000:10000000].to_xml('april_data/payment_april0821_2.xml')
p_result[10000000:15000000].to_xml('april_data/payment_april0821_3.xml')
p_result[15000000:].to_xml('april_data/payment_april0821_4.xml')

MemoryError:

In [42]:
p_result[p_result['ADDR'].str.contains('["\'#&<>]')].head()

,EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,CO_NAME,CATE,CATE1,ADDR
4769451,15aaca9e771e4273656d270de,7691644,삼성,1140,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing..."
4769452,15a3fc4920200ba077c8b2e86,7691644,삼성,41359,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing..."
4769453,15a836ec75a93f40fafc78e80,7691644,우리,217958,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing..."
4769454,15a5ec6e9e4f196065e64f693,7691644,현대,271782,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing..."
4769455,15a39bba75a93f40965bdc829,7691644,삼성,407480,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing..."

4월 데이터(HANA)
총 데이터수 : 10,078,162 
사용자수 : 556,677 
상점수 : 846,964 

http://115.90.182.250:19080/public/hana/hana4.zip

len(p.COMPANY_ID.unique())

In [ ]:
import gc
gc.collect()

815

In [2]:
%%time
engine = create_engine("mysql://eums:eums00!q@133.186.146.142:3306/eums-cj-1-business?charset=utf8mb4",encoding='utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000})

#EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT

query1 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,DEAL_LOCATION,DEAL_DT,REG_DT from MEUMS_COMP_REVISIT_HIS where PAYMENT > 0 AND DEAL_DT BETWEEN "2018-04-01 00:00:00" AND "2018-04-06 23:59:59";'
query2 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,DEAL_LOCATION,DEAL_DT,REG_DT from MEUMS_COMP_REVISIT_HIS where PAYMENT > 0 AND DEAL_DT BETWEEN "2018-04-07 00:00:00" AND "2018-04-12 23:59:59";'
query3 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,DEAL_LOCATION,DEAL_DT,REG_DT from MEUMS_COMP_REVISIT_HIS where PAYMENT > 0 AND DEAL_DT BETWEEN "2018-04-13 00:00:00" AND "2018-04-18 23:59:59";'
query4 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,DEAL_LOCATION,DEAL_DT,REG_DT from MEUMS_COMP_REVISIT_HIS where PAYMENT > 0 AND DEAL_DT BETWEEN "2018-04-19 00:00:00" AND "2018-04-24 23:59:59";'
query5 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,DEAL_LOCATION,DEAL_DT,REG_DT from MEUMS_COMP_REVISIT_HIS where PAYMENT > 0 AND DEAL_DT BETWEEN "2018-04-25 00:00:00" AND "2018-04-31 23:59:59";'

p1 = pd.read_sql_query(query1,engine)
p1.to_pickle('april_data/revisit_his_p1.pick')

p2 = pd.read_sql_query(query2,engine)
p2.to_pickle('april_data/revisit_his_p2.pick')

p3 = pd.read_sql_query(query3,engine)
p3.to_pickle('april_data/revisit_his_p3.pick')

p4 = pd.read_sql_query(query4,engine)
p4.to_pickle('april_data/revisit_his_p4.pick')

p5 = pd.read_sql_query(query5,engine)
p5.to_pickle('april_data/revisit_his_p5.pick')


print(p1.shape) 
print(p2.shape)
print(p3.shape)
print(p4.shape)
print(p5.shape)

(3470820, 7)
(3506974, 7)
(3565795, 7)
(3597118, 7)
(3788319, 7)
Wall time: 32min 27s