## CJ  - DATA EXTRACTING

브랜드별 카드소비 점유율? 브랜드마다 카드점유율을 보여달라!

브랜드의 카드점유율을 보려면 payment가 -0인 데이터를 제거해야 한다. ( 중복된 데이터는 카드점유율을 과대추산한다.)
 - 0보다 작은 payment 제거 2832826 -> 2734284
 

1) 카드사별 분류가 필요함. 정규식적용 <br/>
2) 브랜드별 정규식 적용.<br/>
3) 브랜드 x 카드사 의 matrix 생성<br/>


1. RETREIVE WEEKLY DATA 
 - (where) exclude : negative payment 
 - revisit_his : addr, card_name, cnt_pay
 - inner join : company_id(co_name, cate, cate1)
 * cardname, co_name, addr - refining required
2. MERGE & SUM+GROUP BY 
3. EXPORT AS XML FILE

In [2]:
from sqlalchemy import create_engine
import pymysql, pandas as pd
pymysql.install_as_MySQLdb()
import MySQLdb,pyarrow

### REVISIT HIS DATA - 우선순위 2번째

In [2]:
engine = create_engine("mysql://eums:eums00!q@133.186.135.21:3306/eums?charset=utf8mb4",encoding='utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000})

query1 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT from MEUMS_COMP_REVISIT_HIS where  DEAL_DT BETWEEN "2018-01-01 00:00:00" AND "2018-01-31 23:59:59";'
query2 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT from MEUMS_COMP_REVISIT_HIS where  DEAL_DT BETWEEN "2018-02-01 00:00:00" AND "2018-02-29 23:59:59";'
query3 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT from MEUMS_COMP_REVISIT_HIS where  DEAL_DT BETWEEN "2018-03-01 00:00:00" AND "2018-03-31 23:59:59";'
query4 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT from MEUMS_COMP_REVISIT_HIS where  DEAL_DT BETWEEN "2018-04-01 00:00:00" AND "2018-04-30 23:59:59";'
query5 = 'select EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT from MEUMS_COMP_REVISIT_HIS where  DEAL_DT BETWEEN "2018-05-01 00:00:00" AND "2018-05-31 23:59:59";'

p1 = pd.read_sql_query(query1,engine)
p1.to_pickle('data/revisit_his_p1.pick')

p2 = pd.read_sql_query(query2,engine)
p2.to_pickle('data/revisit_his_p2.pick')

p3 = pd.read_sql_query(query3,engine)
p3.to_pickle('data/revisit_his_p3.pick')

p4 = pd.read_sql_query(query4,engine)
p4.to_pickle('data/revisit_his_p4.pick')

p5 = pd.read_sql_query(query5,engine)
p5.to_pickle('data/revisit_his_p5.pick')


print(p1.shape) 
print(p2.shape)
print(p3.shape)
print(p4.shape)
print(p5.shape)

(765297, 4)
(593969, 4)
(584357, 4)
(477745, 4)
(411458, 4)

In [140]:
data = pd.concat([p1,p2,p3,p4,p5])
print(data.shape)
data['PAYMENT']=data['PAYMENT'].astype(int)
print(data[data['PAYMENT']<0].shape)
data.drop_duplicates('COMPANY_ID').shape
data.head()

(2832826, 4)
(96658, 4)

                       EPOPCON_ID  COMPANY_ID     CARD_NAME  PAYMENT
0  eppcn15a40d5c3cb6ada7e6ac607ec     5940135  KB국민카드(3*4*)    11980
1  eppcn159a64276cb6ada7762f7ee01     5791118    신한카드(5*8*)     6500
2  eppcn15a250c93cb6ada272ce5e77e       14366      현대카드ZERO    12000
3  eppcn159f69615cb6ada0c9b259456     5434086  KB국민카드(1*1*)    61200
4  eppcn15a1512d6cb6ada72bfb2273d     7112451  KB국민카드(9*5*)     4500

# 카드사 탐색/정제

In [172]:
def cleanCardName(sentence):
    import re
    pattern = re.compile(r'\(.{0,4}\)|re\)|\<현장즉시결제\>|\[|\s|카드|\<|\>|\'|\"')
    sentence = re.sub(pattern,'',sentence.lower())
    return sentence # return 안쓰면 none값 뜬다.
    
data = data.assign( CARD_NAME = data['CARD_NAME'].apply(cleanCardName) )
data['CARD_NAME'].value_counts()

신한                            407933
삼성                            339501
kb국민                          283840
농협                            222496
우리                            218431
롯데                            215429
하나                            204859
현대                            114893
현대m                           108440
kb국민체크                        106386
기업bc                           84216
농협bc                           66164
신한체크                           56997
신한체크승인                         42811
씨티                             26042
현대zero                         25996
nh농협                           21211
부산bc                           19037
우체국                            17642
현대m2                           17231
현대m3                           16362
sc은행bc                         15893
대구bc                           15418
경남bc                           13298
삼성가족                           11242
삼성체크                            9488
카카오뱅크                           7829
mg                              7648
광주                              7444
현대x                             6388
                               ...
중국통체크/522                          1
keb하나                              1
e1-현대m                             1
삼성48                               1
nh올원체크/228                         1
신한금융투자cmar+/846                    1
경남bc체크                             1
sk에너지러브유kb국민/050                   1
현대mredmembersedition2/840*         1
투뿔/9390                            1
kb국민nori체크/085                     1
sc제일은행삼성7v2/931                    1
sk스마트kb국민/855                      1
keb하나은행송금취소안내                      1
동양매직우리                             1
삼성37                               1
할인입금취소                             1
b.big/767                          1
sktt-zero/7155                     1
신한deepdream                        1
우체국bc                              1
삼성4v2/8131                         1
삼성4/5037                           1
전북은행                               1
신한/651                             1
딩딩신용/302                           1
썸타는우리체크/315                        1
mybusinessm2edition2/000*          1
신한은행love/023                       1
신한/196                             1
Name: CARD_NAME, Length: 1438, dtype: int64

### 정제 : 카드사별 column을 만들어서 해당 하면 칼럼값에 1을 주자..default는 0 
 - 카드이름과 정규식(관련 카드상품)을 정리해서 EXCEL로 만들자.
 - BC카드의 경우, 단독 신용카드로 사용하는 사람이 없어보이는데..BC카드는 별로도 칼럼을 만들어서 중복이 되는 별개의 정보로 취급한다.<BR/>
EX.<BR/>
data[data['CARD_NAME'].str.contains('[^가-힣]BC')].shape # NHBC만 존재 <BR/>
data[data['CARD_NAME'].str.contains('BC[^가-힣]')].shape #국민BC만 존재

In [173]:
cardname=pd.read_excel('CARDNAME.xlsx')
cardname.카드사명 = cardname.카드사명.str.lower()
cardname.카드상품 = cardname.카드상품.str.lower()
cardname = cardname.fillna('{null}')
cardname.head()

  카드사        카드사명                                               카드상품
0  신한          신한  딥드림|deepdream|lightplan|bigplus|love|simplepla...
1  삼성          삼성                                             {null}
2  KB    kb|^국민bc                                             {null}
3  농협       농협|nh                                           채움|dc줌체크
4  우리  우리($|[^동])                                   위비|the즐거운|듀엣플래티늄

In [ ]:
%time
data=data.assign(CARD_NAME=data['CARD_NAME'].str.lower())
# data = data.drop(data.columns[4:], axis=1)

test = data
for index, obj in cardname.iterrows():
#     print(obj['카드사'])
    if obj['카드상품']=='{null}': 
        test[obj['카드사']]= test.CARD_NAME.str.contains(obj['카드사명']).astype(int)
    else:
        test[obj['카드사']]= (test.CARD_NAME.str.contains(obj['카드사명'])|test.CARD_NAME.str.contains(obj['카드상품'])).astype(int)
test['Card_YN']= sum(test.iloc[:,4:],axis=1)

print(test[test.Card_YN>1].shape)
test.head()

Wall time: 0 ns

C:\Users\epopc\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  # This is added back by InteractiveShellApp.init_path()

test[test.Card_YN>1]['CARD_NAME'].value_counts()

In [158]:
print(test[test.Card_YN<1]['CARD_NAME'].shape)
test[test.Card_YN<1]['CARD_NAME'].value_counts() #좋은친구, 좋은통통 - ibk

(4156,)

마이홈플러스/792                137
중국통체크/768                 104
ssg                        91
cj/018                     89
다모아할인다이렉트/179              78
중국통플러스/010                 74
뉴cj헬로비전_멀티교통/209           71
메가캐쉬백더드림체크/4511            67
b.big/356                  63
메가캐쉬백더드림체크/3952            59
세이브앤세이프(save&safe)/901     59
#ing체크/793                 59
bazic체크                    57
dc더함/384                   55
mint체크                     52
lgu+하이-lightbig/944        52
lg전자렌탈애gs칼텍/065            51
드라이빙패스하이패스비자멀티교통/282       51
ktsuper할부/1111             50
nano/612                   49
메가마켓체크/7518                47
noblesbc아시아나클/052          47
new화물차유류구매개인신용/389         46
키자니아에듀/815                 45
부자되세요theoil/145            43
cream체크                    43
키자니아비씨에듀/815               43
s20-pink/664               42
그린/7193                    41
그룹통합사원증                    40
                         ...
re)경남bc                     1
충남대학교병원복지/3124              1
국민행복/382                    1
중국통체크/522                   1
s-choice체크/335              1
b.big/767                   1
nano/554                    1
후불하이패스/2178                 1
re)부산bc                     1
deepoil/187                 1
딩딩신용/302                    1
cj/061                      1
smartany(스마트애니)/2134        1
아이행복_e-type/914             1
레져글로벌패스/953                 1
아이즐거운/907                   1
이마트/708                     1
국민행복/390                    1
s-line체크/013                1
nano/486                    1
외환                          1
iamcool체크/305               1
아이파크/996                    1
아이행복/856                    1
후불하이패스/6801                 1
olleh슈퍼dcbigpl/608          1
후불하이패스/649                  1
re)경남bc체크                   1
1q내맘대로직장인형/2746             1
드라이빙패스비자멀티교통/748            1
Name: CARD_NAME, Length: 273, dtype: int64

### revisit_his 데이터 전처리 마지막! payment<0을 제거하라 !

In [170]:
# data[:100].to_parquet('data/test')
data_nonNegative =data[data['PAYMENT']>0]
data_nonNegative.shape
data_nonNegative.head(3)

,EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,신한,삼성,KB,농협,우리,롯데,...,수협,신협,제주,KDB산업,전북,BC,국민연금증,현금,포인트,Card_YN
0,eppcn15a40d5c3cb6ada7e6ac607ec,5940135,kb국민,11980,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,eppcn159a64276cb6ada7762f7ee01,5791118,신한,6500,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,eppcn15a250c93cb6ada272ce5e77e,14366,현대zero,12000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### COMPANY INFO  - 우선순위 1번째

In [10]:
%%time
engine = create_engine("mysql://eums:eums00!q@133.186.143.151:13306/eums-shared?charset=utf8mb4",encoding='utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000})
# conn = pymysql.connect(host='133.186.143.151', user='eumsread', password='eumsread00!q', db='eums-shared', port=13306,charset='utf8')

p1_companys = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p1.COMPANY_ID.unique().tolist()))+';',engine) 
p2_companys = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p2.COMPANY_ID.unique().tolist()))+';',engine) 
p3_companys = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p3.COMPANY_ID.unique().tolist()))+';',engine) 
p4_companys = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p4.COMPANY_ID.unique().tolist()))+';',engine) 
p5_companys = pd.read_sql_query('select ID AS COMPANY_ID, CO_NAME, CATE,CATE1,ADDR from MEUMS_COMPANY WHERE ID IN '+str(tuple(p5.COMPANY_ID.unique().tolist()))+';',engine) 

company = pd.concat([p1_companys,p2_companys,p3_companys,p4_companys,p5_companys])
company = company.drop_duplicates('COMPANY_ID')
# company.to_parquet('april_data/company.pick')
print(company.shape)

(458268, 5)
Wall time: 16.9 s

company.to_pickle('data/company_true.pick')

In [11]:
print(p1_company.shape) 
print(p2_company.shape)
print(p3_company.shape)
print(p4_company.shape)
print(p5_company.shape)
# company.to_pickle('data/company.pick')
a = pd.read_pickle('data/company.pick')
a.shape

(194392, 5)
(161777, 5)
(159643, 5)
(136802, 5)
(121909, 5)

(405275, 5)

## COMPANY NAME 가져오기 위해 MERGE JOIN !

In [35]:
data_name = pd.merge(data,company,how='left',on='COMPANY_ID')
print(data_name.shape)
data_name.head(3)

(2832826, 8)

,EPOPCON_ID,COMPANY_ID,CARD_NAME,PAYMENT,CO_NAME,CATE,CATE1,ADDR
0,eppcn15a40d5c3cb6ada7e6ac607ec,5940135,KB국민카드(3*4*),11980,우리마트,생활,생활용품,경기 안산시 단원구 와동 682-9
1,eppcn159a64276cb6ada7762f7ee01,5791118,신한카드(5*8*),6500,세븐PC방,생활,편의,서울특별시 동작구 상도동 366-5 지하
2,eppcn15a250c93cb6ada272ce5e77e,14366,현대카드ZERO,12000,11번가,온라인쇼핑,온라인쇼핑,경기도 성남시 분당구 판교로 264

### Brand data - 우선순위 2번째

In [112]:
brandCode = pd.read_excel('BRANDCODE.xlsx')
brandCode = brandCode.fillna('{null}')
brandCode.head()

,코드그룹,코드그룹명,코드,코드명,동의어,불용어
0,1,영화,0,CGV,CGV,투썸|스타벅스|이디야|엔제리너스|커피|카페|할리스|파스쿠찌|탐앤탐
1,1,영화,1,롯데시네마,롯데시네마[^점],투썸|스타벅스|이디야|엔제리너스|커피|카페|할리스|파스쿠찌|탐앤탐
2,1,영화,2,메가박스,메가박스|megabox,투썸|스타벅스|이디야|엔제리너스|커피|카페|할리스|파스쿠찌|탐앤탐|pc|피씨
3,1,영화,999,영화기타,영화기타,{null}
4,2,커피,0,투썸플레이스,투썸플레이스|twosome|투썸커피,{null}

## 해당 브랜드 관련 데이터만 골라내기
 - 영화, 커피, 화장품

In [1]:
company_true = pd.read_pickle('data/company_true.pick')
print(company_true.shape)
company_true.head(3)

NameError: name 'pd' is not defined

In [27]:
company_true[company_true['CATE']=='뷰티'].shape

(15329, 5)

In [46]:
company_true[company_true['COMPANY_ID']==7770199]

        COMPANY_ID        CO_NAME CATE CATE1               ADDR
143967     7770199  씨제이올리브네트웍스(주)   통신   인터넷  서울 마포구 동교동 199-1

In [130]:
def lowerNospace(row):
    import re
    return re.sub(r'\s','',row.lower())

test = company_true[['COMPANY_ID','CO_NAME','CATE','CATE1']]
test = test.assign(CO_NAME = test.CO_NAME.apply(lowerNospace))

for index, obj in brandCode[14:].iterrows():
    value = lowerNospace(obj['동의어'])
    if obj['불용어'] =='{null}': 
        test[obj['코드명']]= test.CO_NAME.str.contains(value).astype(int)
    else:
        test[obj['코드명']]= (~test.CO_NAME.str.contains(obj['불용어'])&test.CO_NAME.str.contains(value)).astype(int)

# test[test['Code_YN']>0].to_csv('data/check_cosmetics.csv')


test['Code_YN']= sum(test.iloc[:,4:],axis=1)
test[test['Code_YN']>0].to_pickle('data/check_cosmetics.pick')

print(test[test['Code_YN']>0].shape)
test[test['Code_YN']>0].head()

C:\Users\epopc\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  # This is added back by InteractiveShellApp.init_path()

(4060, 22)

,COMPANY_ID,CO_NAME,CATE,CATE1,올리브영,Innisfree,THE FACE SHOP,NATURE REPUBLIC,ARITAUM,MISSHA,...,BEAUTE,ETUDE HOUSE,IT'S SKIN,THE BODY SHOP,the SAEM,BEYOND,Watsons,롭스,뷰티기타,Code_YN
4190,35466,왓슨스신림역점,의료/건강,약국,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4191,35470,왓슨스양재역점,의료/건강,약국,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4593,48381,에뛰드하우스서현2호점,뷰티,화장품,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
11212,186330,네이처리퍼블릭대전은행점,뷰티,화장품,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
11213,186355,네이처리퍼블릭신림점,뷰티,화장품,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [47]:
test[test['Code_YN']>0]['CATE'].value_counts()

뷰티        3908
의료/건강       48
생활          47
통신          20
마트           3
기업           3
카페/디저트       3
주거           2
금융/보험        1
취미/스포츠       1
온라인쇼핑        1
패션           1
교육           1
Name: CATE, dtype: int64

## 기타 뷰티 찾기

In [111]:
test[(test['Code_YN']<1)&(test['CATE1']=="화장품")] # 675개

,COMPANY_ID,CO_NAME,CATE,CATE1,올리브영,Innisfree,THE FACE SHOP,NATURE REPUBLIC,ARITAUM,MISSHA,...,BEAUTE,ETUDE HOUSE,IT'S SKIN,THE BODY SHOP,the SAEM,BEYOND,Watsons,롭스,뷰티기타,Code_YN
8793,129906,그린오가닉,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10602,175030,나인에스테틱,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11675,197032,뉴스킨코리아,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12799,210290,닥터자르트,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13999,240869,더블유,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17590,306273,바비브라운롯데백화점인천점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18510,321241,마이엠디,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21123,367041,에이블씨엔씨,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21126,367103,(주)에이블씨엔씨,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24867,433058,뷰티크레딧뉴코아아울렛구월점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25127,440912,비에스케이코퍼레이션,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32314,560924,스킨포유롯데마트울산점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32904,567747,시드물,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34579,605200,아모레,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34582,605330,아모스구미점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37383,665962,애터미화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38965,702853,올리브영양재하나로클럽점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48598,899666,카버코리아,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53656,978644,프리드림,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55834,1022165,한웰이쇼핑,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57791,1062419,수려한홈플러스순천점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57795,1062427,수려한홈플러스안산점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58431,1070141,화장품마트,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61100,2624088,다담화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62131,2772633,드림화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63133,2873709,미그린화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63405,2888211,미애부용원지점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64129,2972669,빅마트화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64250,2981645,사임당화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65170,3106091,쉬즈화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79890,6487258,아모레퍼시픽광주지역사업부,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80132,6513053,클럽클리오대전지하클럽,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80620,6535641,준화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81704,6562806,화장품마트,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84106,6620343,뷰티플렉스하나로고양점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85811,6661998,새로나화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93269,6920581,화장품명품아울렛,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94340,6968964,화장품할인매장,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95367,7014805,화이트화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96822,7094871,센스화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98298,7180424,아뜨레화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100521,7296334,대도화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100798,7312876,파코메리뷰티스테이샵치평점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101767,7375856,엠도씨,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102294,7411675,수(soo),뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107505,7716795,루비화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
117044,7960429,성은종합화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
131425,8185976,양귀비화장품,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
131580,8191117,아모레퍼시픽창원행복특약점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133582,8259033,엘지생활건강,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134356,8279061,아모레퍼시픽현대백화점신촌점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134412,8280485,클럽클리오두타몰클럽점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134413,8280486,클럽클리오피트인동대문클럽,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134463,8282007,에스쁘아신세계면세본점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134692,8288236,네이처컬렉션명동3번가점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134968,8296519,뷰티플렉스에이클라스점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135911,8324296,네이처컬렉션신영통점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137773,8382185,아토아이,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139417,8426016,네이처컬렉션행신무원점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139476,8427830,이엘씨에이한국(유한),뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 불용어 찾기

In [118]:
# test[(test['Code_YN']>0)&(test['CATE'].isin(['뷰티','의료/건강','생활']))]
# test[(test['Code_YN']>0)&(test['CATE'].isin(['생활']))]
# test[(test['Code_YN']>0)&(test['CATE'].isin(['의료/건강']))]
test[(test['Code_YN']>0)&(~test['CATE'].isin(['뷰티','의료/건강','생활']))]

,COMPANY_ID,CO_NAME,CATE,CATE1,올리브영,Innisfree,THE FACE SHOP,NATURE REPUBLIC,ARITAUM,MISSHA,...,BEAUTE,ETUDE HOUSE,IT'S SKIN,THE BODY SHOP,the SAEM,BEYOND,Watsons,롭스,뷰티기타,Code_YN
38960,702848,올리브영상암mbc점,취미/스포츠,,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41824,759925,이니스프리,주거,부동산,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
50711,939975,토니모리강남점,주거,아파트,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
57773,1062398,cj올리브영홈플러스동수원점,마트,대형마트,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
96332,5255152,cj올리브네트웍스,기업,IT,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
111751,5897701,올리브영인사동점,마트,편의점,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
164448,7447730,올리브영몰,온라인쇼핑,온라인쇼핑,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
173676,7745701,씨제이올리브네트웍스(주),통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
175414,7770201,씨제이올리브네트웍스(주),통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
178210,7810203,cj올리브네트웍스,기업,컨설팅,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
189871,7993360,cj올리브네트웍스,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
203789,8122086,올리브영양통닭&중독떡볶이,외식,분식,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
216562,8432923,cj올리브네트웍스,마트,편의점,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
142223,7692830,씨제이올리브네트윅스(주)목포북항점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
143060,7720922,씨제이올리브네트윅스(주)대전목동점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
143655,7733321,씨제이올리브네트윅스대전가수원점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
143783,7735694,씨제이올리브네트윅스충남부여점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
143784,7735695,씨제이올리브네트윅스전주인후점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
143938,7738144,씨제이올리브네트웍스주식화사대구수성3가점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
143969,7738746,씨제이올리브네트윅스마산내서점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
144347,7744398,씨제이올리브네트윅스부산역사점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
144348,7744399,씨제이올리브네트웍스부산수정역점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
144633,7749060,씨제이올리브네트웍스해운대역점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
144709,7750453,씨제이올리브네트웍스주식화사동대구터미널점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
145873,7770202,씨제이올리브네트웍스(주),통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
147786,7801773,씨제이올리브네트웍스대전월평역점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
148674,7818068,cj올리브네트웍스,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
166681,8085447,씨제이올리브네트웍스수원경기대점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20916,441506,비욘드대전중앙로역점,금융/보험,은행,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
143967,7770199,씨제이올리브네트웍스(주),통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
151583,8297462,스킨푸드주안역지하상가점,패션,의류,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
109090,7756733,cj올리브영불광역점불광역점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [117]:
# test[test['CO_NAME'].str.contains('비욘드|beyond')]
test[test['CO_NAME'].str.contains('잇츠한불')]#&~test['CO_NAME'].str.contains('헤어|스킨|샵')

,COMPANY_ID,CO_NAME,CATE,CATE1,올리브영,Innisfree,THE FACE SHOP,NATURE REPUBLIC,ARITAUM,MISSHA,...,BEAUTE,ETUDE HOUSE,IT'S SKIN,THE BODY SHOP,the SAEM,BEYOND,Watsons,롭스,뷰티기타,Code_YN
155280,7956255,(주)잇츠한불,생활,편의,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
152956,7953029,(주)잇츠한불,생활,편의,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [54]:
test[(test['Code_YN']>0)&(test['CO_NAME'].str.contains('투썸'))]

,COMPANY_ID,CO_NAME,CATE,CATE1,올리브영,Innisfree,THE FACE SHOP,NATURE REPUBLIC,ARITAUM,MISSHA,...,BEAUTE,ETUDE HOUSE,IT'S SKIN,THE BODY SHOP,the SAEM,BEYOND,Watsons,롭스,뷰티기타,Code_YN
130839,6569407,투썸커피명동올리브영점,카페/디저트,카페,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
213306,8285856,투썸플레이스명동올리브영점,카페/디저트,카페,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
78890,5256587,투썸플레이스올리브영을지로입구점,카페/디저트,카페,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [94]:
a= '(투썸|스타벅스|이디야|엔제리너스|커피|카페|할리스|파스쿠찌|탐앤탐)'
b = '(올리브영|올리브네|이니스프|더페이스|네이처리퍼|아리따움|미샤|토니모리|스킨푸드|에뛰드|잇츠스킨|더바디|더샘|비욘드|왓슨스|홀리카|롭스)'
test[test['CO_NAME'].str.contains('.+'+b)]
# test[test['CO_NAME'].str.contains('롯데시네[^마]')]

C:\Users\epopc\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

,COMPANY_ID,CO_NAME,CATE,CATE1,올리브영,Innisfree,THE FACE SHOP,NATURE REPUBLIC,ARITAUM,MISSHA,...,BEAUTE,ETUDE HOUSE,IT'S SKIN,THE BODY SHOP,the SAEM,BEYOND,Watsons,롭스,뷰티기타,Code_YN
21832,379564,바르미샤브샤브n칼국수구의점,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21833,379567,바르미샤브샤브n칼국수사당점,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21834,379581,바르미샤브샤브n칼국수수성점,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34293,597464,cj올리브네트웍스,뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
57773,1062398,cj올리브영홈플러스동수원점,마트,대형마트,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
57800,1062434,바르미샤브뷔페홈플러스울산남구점,마트,대형마트,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62518,2805210,롯데마트마산점더페이스샵,뷰티,화장품,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
63501,2899678,바르미샤브칼국수,외식,외식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75729,4297631,bs더바디성형외과의원,의료/건강,병원,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80762,4550322,lg생활건강비욘드이마트익산점,생활,생활용품,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
89180,4931874,씨제이올리브네트웍스,뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
91597,5011198,(주)에뛰드,뷰티,화장품,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
91599,5011201,(주)에뛰드,뷰티,화장품,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
95269,5179442,홀리카홀리카명동중앙점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
96332,5255152,cj올리브네트웍스,기업,IT,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
98082,5382704,바르미샤브샤브n칼국수원마운트점,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
106379,5813619,바르미샤브샤브앤칼국수양산점,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
106593,5816561,씨제이올리브네트웍스(주),뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
106594,5816562,씨제이올리브네트웍스(주),뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
111488,5895132,롯데쇼핑롭스구미인동점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
111644,5896457,씨제이올리브네트웍스(주),뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
111646,5896459,씨제이올리브네트웍스(주),뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
113030,5913249,씨제이올리브네트웍스,뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
130839,6569407,투썸커피명동올리브영점,카페/디저트,카페,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
131008,6573333,(주)네이처리퍼브릭중앙점,생활,편의,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138494,6699556,(주)에뛰드,뷰티,화장품,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
141479,6754501,바르미샤브샤브n칼국수창원점,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
141480,6754504,바르미샤브샤브,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
141481,6754505,바르미샤브칼국수김천점,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
143413,6800924,홀리카홀리카청주성안점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145130,7790434,홀리카홀리카롯데몰은평점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
153759,7964796,(주)에뛰드,뷰티,화장품,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
154710,7977678,시앤에스아이앤시스킨푸드제주점,생활,편의,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
165941,8099368,즐거운세상바르미샤브샤브,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170192,8153584,cj올리브영배명사거리점,뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
180418,8384575,cj올리브네트웍스,뷰티,헤어,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15839,379568,바르미샤브샤브n칼국수김포장기동점,외식,한식,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63958,5011206,(주)에뛰드,뷰티,화장품,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
75716,5822676,홀리카홀리카명동3호점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
88374,6381855,미샤대구용산미샤점1,뷰티,화장품,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
108505,7092461,홀리카홀리카부산하단점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
112065,7262713,홀리카홀리카덕천점,생활,편의,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
128973,7906358,cj올리브영대구침산점,생활,편의,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
130913,7953018,cj올리브영청주가경점,생활,편의,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
133959,8002501,홀리카홀리카이마트광교점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
147214,8178836,씨제이올리브네트웍스중계역점,생활,편의,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
152398,8318598,cj올리브네트웍스신용산역점,생활,편의,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
153781,8354894,홀리카홀리카롯데면세점소공점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
154859,8384418,바르미샤브뷔페김천점,외식,뷔페,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24964,702840,올리브영올리브영롯데마트계양점,뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
48055,4367797,lg생활건강비욘드이마트신도림매장,생활,생활용품,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71210,5916661,홀리카홀리카롯데백화점부산본점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
78734,6381826,미샤지하철3호선종로3가역미샤점,뷰티,화장품,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
106286,7651855,씨제이올리브네트웍스(주),생활,편의,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
109090,7756733,cj올리브영불광역점불광역점,통신,인터넷,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
118153,7979258,cj올리브영홈플러스인하점,생활,편의,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
118602,7987658,cj올리브영순천호수공원점,생활,편의,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
120407,8022872,cj올리브영광주용봉지구점,뷰티,화장품,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
130323,8158034,홀리카홀리카동화면세점,뷰티,화장품,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
137956,8385466,cj올리브네트웍스용산리첸시아점,생활,편의,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### 커피점 찾아보기

In [135]:
brandCode = pd.read_excel('BRANDCODE.xlsx')
brandCode = brandCode.fillna('{null}')

test = company_true[['COMPANY_ID','CO_NAME','CATE','CATE1']]
test = test.assign(CO_NAME = test.CO_NAME.apply(lowerNospace))

for index, obj in brandCode[4:14].iterrows():
    value = lowerNospace(obj['동의어'])
    if obj['불용어'] =='{null}': 
        test[obj['코드명']]= test.CO_NAME.str.contains(value).astype(int)
    else:
        test[obj['코드명']]= (~test.CO_NAME.str.contains(obj['불용어'])&test.CO_NAME.str.contains(value)).astype(int)

        
test['Code_YN']= sum(test.iloc[:,4:],axis=1)
# test[test['Code_YN']>0].to_csv('data/check_coffee.csv')
test[test['Code_YN']>0].to_pickle('data/check_coffee.pick')

print(test[test['Code_YN']>0].shape)
test[test['Code_YN']>0].head()

(6157, 15)

,COMPANY_ID,CO_NAME,CATE,CATE1,투썸플레이스,스타벅스,이디야,엔제리너스,카페베네,커피빈,탐앤탐스,할리스,파스쿠찌,커피기타,Code_YN
71,3593,할리스커피전주혁신도시점,카페/디저트,카페,0,0,0,0,0,0,0,1,0,0,1
256,9240,이디야커피ibk고객센터점,카페/디저트,카페,0,0,1,0,0,0,0,0,0,0,1
362,12623,할리스커피약수역점,카페/디저트,카페,0,0,0,0,0,0,0,1,0,0,1
363,12624,할리스커피올림픽프라자점,카페/디저트,카페,0,0,0,0,0,0,0,1,0,0,1
364,12625,할리스커피길동역점,카페/디저트,카페,0,0,0,0,0,0,0,1,0,0,1

### 기타 커피점 찾기

In [133]:
test[(test['Code_YN']<1)&(test['CATE1']=="카페")] #22744

,COMPANY_ID,CO_NAME,CATE,CATE1,투썸플레이스,스타벅스,이디야,엔제리너스,카페베네,커피빈,탐앤탐스,할리스,파스쿠찌,커피기타,Code_YN
56,3088,다경,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
77,3788,동빙고,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
184,7236,아모제푸드,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
293,10454,르돌치일구사육(주),카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
435,14951,1940나한정역커피가게,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
600,17577,3층커피집,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
612,17766,502커피로스터스,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
613,17816,오십사계단커피,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
657,18723,7월의정원,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
698,19535,에이비씨커피,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
773,21714,bc800coffee&tea,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
774,21720,bc800신천점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
775,21721,비씨800,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
776,21778,빈차,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
820,22427,빌리브라운,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
821,22523,blackcoffee,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
822,22529,블랑제리드블랑,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
838,23170,씨블럭,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
842,23280,cafe7:55,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
843,23285,cafeann,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
844,23291,cafeau,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
845,23315,카페보노,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
846,23336,cafedenophie,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
847,23350,카페풋루스,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
849,23363,카페아이엠티삼성타운점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
850,23368,카페아이엠티순화점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
851,23385,cafekohi,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
852,23389,카페램,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
853,23394,카페마지오,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
854,23448,카페톡,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139651,8433075,더벤티천안두정점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139655,8433209,알릭,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139709,8435277,메가커피수원영통점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139710,8435287,청자다방광양점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139717,8435542,블레스롤김포장기점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139727,8435898,카페527,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139736,8436394,스테프코리아,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139755,8437016,공차서귀포올레시장점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139756,8437092,사푼사푼강남역점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139757,8437142,다마바아이스크림할인점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139760,8437242,프롬하츠커피보문파크뷰자이점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139763,8437280,파리바게뜨가든테라스카페인천공항t2점(일반지역),카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139782,8437728,커피101스트릿블루나인점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139783,8437729,커피스트릿,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139784,8437781,백미당,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139786,8437849,동영커피,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139789,8437977,공차공주휴게소대전방향점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139793,8438189,카페051서면중앙대로점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139794,8438190,카페051벡스코점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139807,8438658,청주오믈렛cake&coffee,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139812,8438771,공차성남태평점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139813,8438772,공차경기광주터미널점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139816,8438885,빌리엔젤명동점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139821,8439022,카페뿌우,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139830,8439553,커피베이종로5가역점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139843,8440159,타시텔레,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139862,8440933,더치앤빈의왕에이스청계점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139881,8441521,커피에반하다장안위더스빌점,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139896,8441757,아이스랜드,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0
139965,8443943,카페뉴,카페/디저트,카페,0,0,0,0,0,0,0,0,0,0,0

### 영화 찾기

In [141]:
brandCode = pd.read_excel('BRANDCODE.xlsx')
brandCode = brandCode.fillna('{null}')

test = company_true[['COMPANY_ID','CO_NAME','CATE','CATE1']]
test = test.assign(CO_NAME = test.CO_NAME.apply(lowerNospace))

for index, obj in brandCode[0:4].iterrows():
    value = lowerNospace(obj['동의어'])
    if obj['불용어'] =='{null}': 
        test[obj['코드명']]= test.CO_NAME.str.contains(value).astype(int)
    else:
        test[obj['코드명']]= (~test.CO_NAME.str.contains(obj['불용어'])&test.CO_NAME.str.contains(value)).astype(int)

        
test['Code_YN']= sum(test.iloc[:,4:],axis=1)
test[test['Code_YN']>0].to_csv('data/check_movie.csv')
test[test['Code_YN']>0].to_pickle('data/check_movie.pick')

print(test[test['Code_YN']>0].shape)
test[test['Code_YN']>0].head()

(393, 9)

     COMPANY_ID    CO_NAME CATE CATE1  CGV  롯데시네마  메가박스  영화기타  Code_YN
868       23930   cgv광주첨단점   문화    영화    1      0     0     0        1
869       23931  cgv광주터미널점   문화    영화    1      0     0     0        1
870       23932     cgv군자점   문화    영화    1      0     0     0        1
871       23933     cgv군산점   문화    영화    1      0     0     0        1
872       23934     cgv구미점   문화    영화    1      0     0     0        1

### 기타 영화찾기

In [143]:
test[(test['Code_YN']<1)&(test['CATE']=="영화")]

Empty DataFrame
Columns: [COMPANY_ID, CO_NAME, CATE, CATE1, CGV, 롯데시네마, 메가박스, 영화기타, Code_YN]
Index: []

In [145]:
test[(test['Code_YN']<1)&(test['CO_NAME'].str.contains('올리브영어'))]

        COMPANY_ID    CO_NAME CATE CATE1  CGV  롯데시네마  메가박스  영화기타  Code_YN
213302     8285769  올리브영어수학학원   교육    학원    0      0     0     0        0
109283     6575671    올리브영어학원   교육          0      0     0     0        0

In [5]:
# COMPANY NAME, ADDR 정제
def cleanChar(sentence):
    import re
    pattern = re.compile(r'\s{0,2}\&amp\;\s{0,2}')
    sentence = re.sub(pattern,'@',sentence)
    pattern = re.compile(r'\s{0,2}\&.{2,4}\;\s{0,2}|\<|\>|\'|\"')
    sentence = re.sub(pattern,'',sentence)
    pattern = re.compile(r'\&')
    sentence = re.sub(pattern,'@',sentence)
    return sentence


company[['ADDR','CO_NAME']]=company[['ADDR','CO_NAME']].applymap(cleanChar)
print(company.shape)

(910106, 5)

In [6]:
def refineHana(data):
    print('total: ', data.shape)
    
    #화장실제거
    test0 = data[~data['CO_NAME'].str.contains('화장실')]
    print('nonRestroom: ',test0.shape)
    test = data[data['CO_NAME'].str.contains('화장실')]  
    print('Restroom: ',test.shape)
    
    #1
    test_public = test[test['CATE']=='공공']  
    
    print('Restroom-public: ',test_public.shape)    
    etc = test_public[~test_public['CO_NAME'].str.contains('주유소|충전소|가스|병원|수련관|복지관')]
    a = test_public[test_public['CO_NAME'].str.contains('주유소')].assign(CATE = '교통', CATE1 = '주유소')
    b = test_public[test_public['CO_NAME'].str.contains('충전소|가스')].assign(CATE = '교통', CATE1 = '충전소')
    c = test_public[test_public['CO_NAME'].str.contains('병원')].assign(CATE = '의료/건강', CATE1 = '병원')
    d = test_public[test_public['CO_NAME'].str.contains('수련관')].assign(CATE = '교육', CATE1 = '수련원')
    e = test_public[test_public['CO_NAME'].str.contains('복지관')].assign(CATE = '공공', CATE1 = '사회복지시설')
    test_public = etc.append([a,b,c,d,e])
    
    print('after Restroom-public: ',test_public.shape)    
    test_public=test_public.assign(CO_NAME=test_public['CO_NAME'].str.replace('공중화장실','')) #460
    test_public=test_public.assign(CO_NAME=test_public['CO_NAME'].str.replace('개방화장실',''))#1157
    test_public=test_public.assign(CO_NAME=test_public['CO_NAME'].str.replace('화장실',''))#20 - 충전소 화장실, 협동조합 화장실
    # A=A.assign(CO_NAME=A['CO_NAME'].str.replace('공중화장실',''))
    
    #2
    test_nonPublic = test[test['CATE']!='공공']
    print('Restroom-nonPublic: ',test_nonPublic.shape)
    test_nonPublic=test_nonPublic.assign(CO_NAME=test_nonPublic['CO_NAME'].str.replace('공중화장실','')) #460
    test_nonPublic=test_nonPublic.assign(CO_NAME=test_nonPublic['CO_NAME'].str.replace('개방화장실',''))#1157
    test_nonPublic=test_nonPublic.assign(CO_NAME=test_nonPublic['CO_NAME'].str.replace('화장실',''))#20 - 충전소 화장실, 협동조합 화장실
    # test_nonPublic.CO_NAME=test_nonPublic['CO_NAME'].str.replace('공중화장실','') #460
    print('after Restroom-nonPublic: ',test_nonPublic.shape)
    
    #3
    temp = test_public.append(test_nonPublic)
    print('check Restroom: ',temp.shape)
    
#     temp.append(test0).sort_values(by=['EPOPCON_ID','COMPANY_ID','CARD_NAME'], axis=0)
    print('check total: ',temp.append(test0).shape)
    return  temp.append(test0)


company = refineHana(company)
print(company.shape)
company.to_pickle('april_data/company.pick')

total:  (910106, 5)
nonRestroom:  (910040, 5)
Restroom:  (66, 5)
Restroom-public:  (26, 5)
after Restroom-public:  (26, 5)
Restroom-nonPublic:  (40, 5)
after Restroom-nonPublic:  (40, 5)
check Restroom:  (66, 5)
check total:  (910106, 5)
(910106, 5)

### MERGE DATA + CLEAN(CARD_NAME/COMPANY_NAME/ADDR)

In [7]:
p = pd.concat([p1,p2,p3,p4,p5])
print(p.shape) 

#1.  CARD_NAME 정제 
#a.find('(')
def cleanData(sentence):
    import re
    pattern = re.compile(r'\(.{0,4}\)|RE\)|\<현장즉시결제\>|\[|\s|카드|\<|\>|\'|\"')
    sentence = re.sub(pattern,'',sentence)
    return sentence # return 안쓰면 none값 뜬다.
    
p = p.assign( CARD_NAME = p['CARD_NAME'].apply(cleanData) )
p.to_pickle('april_data/cardname_clean.pick')
p.head(3)

(17929026, 4)

                       EPOPCON_ID  COMPANY_ID CARD_NAME PAYMENT
0  cjcis15a3df9fce946d90511ca0dd6     6107601      경남BC    8000
1  cjcis15a539a990200ba077c8ba8a9     5233223      KB국민   34780
2  cjcis15a3a4abd71e427692251ca77     5233223        롯데  437976

company= pd.read_pickle('april_data/company.pick')
lifezone= pd.read_pickle('april_data/lifezone.pick')
p= pd.read_pickle('april_data/cardname_clean.pick')
p.head(2)

### payment type 변환

In [8]:
p['PAYMENT']= p['PAYMENT'].astype(float)
p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17929026 entries, 0 to 3788318
Data columns (total 4 columns):
EPOPCON_ID    object
COMPANY_ID    int64
CARD_NAME     object
PAYMENT       float64
dtypes: float64(1), int64(1), object(2)
memory usage: 683.9+ MB

p.groupby(['EPOPCON_ID','COMPANY_ID','CARD_NAME']).head()

### SUM/GROUP_BY + RENAME_COLUMNS

 - 전체 column 기준 groupby
 - p_group = p.groupby(['EPOPCON_ID','COMPANY_ID','CARD_NAME']).agg({'CNT_PAY':'sum','SUM_PAY':'sum'}).reset_index()
 - http://pinkwink.kr/977

In [9]:
# df = data.groupby('Seed').agg(
#     {'age':['sum'],
#      'height':['mean', 'std']})
# p_group.columns = ["_".join(x) for x in p_group.columns.ravel()]

p_group = p.groupby(['EPOPCON_ID','COMPANY_ID','CARD_NAME']).agg(['count','sum']).reset_index()
p_group.columns = ["_".join(x) for x in p_group.columns.ravel()]

print(p_group.shape) # (12266736, 5) -> 12265619 감소 (카드이름으로 더 많이 묶임)
p_group.head()

(11935155, 5)

,EPOPCON_ID_,COMPANY_ID_,CARD_NAME_,PAYMENT_count,PAYMENT_sum
0,cjcis15a0c273a71e42706814f6329,1001701,신한,1,12600.0
1,cjcis15a0c273a71e42706814f6329,4984806,삼성,1,17370.0
2,cjcis15a0c273a71e42706814f6329,6077000,삼성,1,700.0
3,cjcis15a0c273a71e42706814f6329,6999903,삼성,1,178910.0
4,cjcis15a0c273a71e42706814f6329,8272707,삼성,1,6900.0

In [10]:
import gc
gc.collect()
del p
p_group.columns = ['EPOPCON_ID','COMPANY_ID','CARD_NAME','CNT_PAY','SUM_PAY'] 
p_group.head()

                       EPOPCON_ID  COMPANY_ID CARD_NAME  CNT_PAY   SUM_PAY
0  cjcis15a0c273a71e42706814f6329     1001701        신한        1   12600.0
1  cjcis15a0c273a71e42706814f6329     4984806        삼성        1   17370.0
2  cjcis15a0c273a71e42706814f6329     6077000        삼성        1     700.0
3  cjcis15a0c273a71e42706814f6329     6999903        삼성        1  178910.0
4  cjcis15a0c273a71e42706814f6329     8272707        삼성        1    6900.0

### JOIN

In [11]:
p = pd.merge(p_group,company, how='inner', on='COMPANY_ID')
p = pd.merge(p,lifezone, how='inner', on='EPOPCON_ID')

# EPOPCON_ID 정제
# p = p.assign( EPOPCON_ID = p['EPOPCON_ID'].apply(lambda x : x.replace('cjcis','')) )
print(p.shape)
p.head()

(10078162, 11)

,EPOPCON_ID,COMPANY_ID,CARD_NAME,CNT_PAY,SUM_PAY,CO_NAME,CATE,CATE1,ADDR,LATITUDE1,LONGITUDE1
0,cjcis15a0c273a71e42706814f6329,1001701,신한,1,12600.0,한결한의원,의료/건강,병원,서울 마포구 망원동 517,37.606406,127.04041
1,cjcis15a0c273a71e42706814f6329,4984806,삼성,1,17370.0,LG유플러스(LG U+),통신,대리점,서울특별시 용산구 한강로3가 65-228,37.606406,127.04041
2,cjcis15a0c273a71e42706814f6329,6077000,삼성,1,700.0,롯데칠성음료충정대리점,카페/디저트,음료,서울특별시 마포구 토정동 3-31,37.606406,127.04041
3,cjcis15a0c273a71e42706814f6329,6999903,삼성,1,178910.0,대륜이엔에스 노원5고객센터,주거,가스,서울 노원구 공릉동 415-65,37.606406,127.04041
4,cjcis15a0c273a71e42706814f6329,8272707,삼성,1,6900.0,워너비박스 서여의도점,외식,도시락,서울 영등포구 여의도동 17-9 더하우스소호 지하1층 110호,37.606406,127.04041

### epopcon_id에서 cjcis 문자제거하기

In [12]:
# EPOPCON_ID 정제
p = p.assign( EPOPCON_ID = p['EPOPCON_ID'].apply(lambda x : x.replace('cjcis','')) )
print(p.shape)
p.head()

(10078162, 11)

,EPOPCON_ID,COMPANY_ID,CARD_NAME,CNT_PAY,SUM_PAY,CO_NAME,CATE,CATE1,ADDR,LATITUDE1,LONGITUDE1
0,15a0c273a71e42706814f6329,1001701,신한,1,12600.0,한결한의원,의료/건강,병원,서울 마포구 망원동 517,37.606406,127.04041
1,15a0c273a71e42706814f6329,4984806,삼성,1,17370.0,LG유플러스(LG U+),통신,대리점,서울특별시 용산구 한강로3가 65-228,37.606406,127.04041
2,15a0c273a71e42706814f6329,6077000,삼성,1,700.0,롯데칠성음료충정대리점,카페/디저트,음료,서울특별시 마포구 토정동 3-31,37.606406,127.04041
3,15a0c273a71e42706814f6329,6999903,삼성,1,178910.0,대륜이엔에스 노원5고객센터,주거,가스,서울 노원구 공릉동 415-65,37.606406,127.04041
4,15a0c273a71e42706814f6329,8272707,삼성,1,6900.0,워너비박스 서여의도점,외식,도시락,서울 영등포구 여의도동 17-9 더하우스소호 지하1층 110호,37.606406,127.04041

In [2]:
# p.to_pickle('april_data/hana_april.pick')

p = pd.read_pickle('april_data/hana_april.pick')

### EXPORT XML FILE 

- UnicodeDecode Error : illegal multibyte sequence

p=p.replace('\\xa0', '')  ->  with open(filename, mode, encoding='utf8') as f:

In [4]:
#https://stackoverflow.com/questions/18574108/how-do-convert-a-pandas-dataframe-to-xml

def to_xml(df, filename=None, mode='w'):
    bigxml=['<?xml version="1.0"?>','<resultset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">']
    def row_to_xml(row):
        xml = [' <row>']
        for i, col_name in enumerate(row.index):
            xml.append('  <field name="{0}">{1}</field>'.format(col_name, row.iloc[i]))
        xml.append(' </row>')
        return '\n'.join(xml)
    resultset = '\n'.join(df.apply(row_to_xml, axis=1))
    bigxml.append(resultset)
    bigxml.append('</resultset>')
    res = '\n'.join(bigxml)
    
    if filename is None:
        return res
    with open(filename, mode, encoding='utf8') as f:
        f.write(res)

pd.DataFrame.to_xml = to_xml

#tmp.to_xml('test.csv')
# p.iloc[:2500000,].to_xml('april_data/hana_april1.xml')
# p.iloc[2500000:5000000,].to_xml('april_data/hana_april2.xml')
# p.iloc[5000000:7500000,].to_xml('april_data/hana_april3.xml')
p.iloc[7500000:,].to_xml('april_data/hana_april4.xml')

In [10]:
p.iloc[1006946:,].head()

,EPOPCON_ID,COMPANY_ID,CARD_NAME,CNT_PAY,SUM_PAY,ADDR,CATE,CATE1,CO_NAME,LATITUDE1,LONGITUDE1
1006946,15a3991ec71e42756fbe86b6e,30188,KB국민,1,9200.0,경기도 수원시 장안구 정자동 535-12,마트,편의점,CU 청솔번영점,37.2985548,126.9872756
1006947,15a3991ec71e42756fbe86b6e,8077641,KB국민체크,1,7400.0,경기 수원시 장안구 천천동 527-1,마트,시장,장독대천천동점,37.2985548,126.9872756
1006948,15a3991ec71e42756fbe86b6e,7486252,KB국민,1,5100.0,경기도 수원시 장안구 정자동 877-4 정연메이져 1층,카페/디저트,베이커리,뚜레쥬르수원정자점,37.2985548,126.9872756
1006949,15a3991ec71e42756fbe86b6e,5256211,KB국민,1,2200.0,,뷰티,화장품,올리브영 수원천천점,37.2985548,126.9872756
1006950,15a3991ec71e42756fbe86b6e,5256211,KB국민체크,1,6210.0,,뷰티,화장품,올리브영 수원천천점,37.2985548,126.9872756

In [16]:
print(p[p['CO_NAME'].str.contains('\&|\<|\>|\'|\"')].shape)
print(p[p['CO_NAME'].str.contains('화장실')].shape)

(0, 11)

In [17]:
p[p['ADDR'].str.contains('&|<|>|\'|"')].shape
p[p['ADDR'].str.contains('@')].shape
p[p['ADDR'].str.contains('@')].head()

,EPOPCON_ID,COMPANY_ID,CARD_NAME,CNT_PAY,SUM_PAY,CO_NAME,CATE,CATE1,ADDR,LATITUDE1,LONGITUDE1
7813,15a38c4da71e42756fbe6acf3,331209,롯데,1,1400.0,맥도날드 중앙대점,외식,패스트푸드,서울 동작구 흑석동 221 중앙대학교 약학대학 R@D센터 지하1층,37.583560,127.049909
8300,15a38c60de946d9170e4ac3ab,24010,KB국민,2,35000.0,CGV 인천점,문화,영화,인천 남동구 구월동 1130 SEE@SEEE빌딩 4층,37.540170,126.734375
8445,15a38c6516259ad0a9e318a81,1059333,신한BC,1,58000.0,호수세탁소,생활,,경기도 고양시 일산동구 장항동 875 호수4단지 LG@롯데아파트 상가,37.651921,126.775700
9280,15a38c7ec6259ad0a9e318c65,147219,KB국민,1,3600.0,김기택내과의원,의료/건강,병원,경기 김포시 장기동 494-31 C@C빌딩 5층~7층,37.505473,127.037884
12863,15a38cf52e946d9170e4acaa3,24010,KB국민,1,19000.0,CGV 인천점,문화,영화,인천 남동구 구월동 1130 SEE@SEEE빌딩 4층,37.468214,126.645818

In [7]:
print(p[p['ADDR'].str.contains('["\'&<>]')].shape)
print(p[p['CO_NAME'].str.contains('["\'&<>]')].shape)
print(p[p['CO_NAME'].str.contains('화장실')].shape)
p[p['CARD_NAME'].str.contains('["\'&<>]')].shape

(0, 11)
(0, 11)
(0, 11)

(0, 11)

In [6]:
p[p['ADDR'].str.contains('["\'#&<>]')].head()

,EPOPCON_ID,COMPANY_ID,CARD_NAME,CNT_PAY,SUM_PAY,CO_NAME,CATE,CATE1,ADDR,LATITUDE1,LONGITUDE1
8886,15a38c74e6259ad0a9e318b8b,7691644,삼성,1,64968.0,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing...",37.204112,127.061057
9253,15a38c7ec6259ad0a9e318c65,7691644,KB국민,1,83082.0,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing...",37.505473,127.037884
14487,15a38d1a3e946d9170e4acc44,7691644,SC은행BC,3,880982.0,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing...",37.566703,126.978313
15609,15a38d365e946d9170e4ace56,7691644,신한,2,341999.0,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing...",37.500572,127.037400
23565,15a38dc40e946d9170e4adca6,7691644,하나,1,1140.0,AGODA,여행,숙박,"30 Cecil Street, Prudential Tower #19-08, Sing...",37.638295,126.877622

4월 데이터(HANA)
총 데이터수 : 10,078,162 
사용자수 : 556,677 
상점수 : 846,964 

http://115.90.182.250:19080/public/hana/hana4.zip

In [6]:
len(p.COMPANY_ID.unique())

846964