In [3]:
import xml.etree.cElementTree as et
import pandas as pd
import os
os.getcwd()

'C:\\Users\\epopc\\Desktop\\Python_project'

In [ ]:
parsed_xml = et.parse("hana3.xml")
parsed_xml

In [1]:
import xml.parsers.expat
parser = xml.parsers.expat.ParserCreate()
parsed_xml=parser.ParseFile(open('hana3.xml', 'r'))

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 329: illegal multibyte sequence

In [47]:
def getvalueofnode(node):
    """ return node text or None """
    return node.text if node is not None else None

def main():
    """ main """
    parsed_xml = et.parse("hana3.xml")
    dfcols = ['epopcon_id', 'company_id', 'cnt', 'sum','card_name','lat','long']
    df_xml = pd.DataFrame(columns=dfcols)
 
    for node in parsed_xml.getroot():
        epopcon_id = node[0].text
        company_id = node[1].text
        cnt = node[2].text 
        sums = node[3].text  
        card_name = node[4].text
        lat = node[5].text
        long = node[6].text
        co_name = node[7].text
        cate = node[8].text
        cate1 = node[9].text
        addr = node[10].text
        df_xml = df_xml.append(
            pd.Series([epopcon_id,company_id,cnt,sums,card_name,lat,long], index=dfcols),
            ignore_index=True)
    return df_xml
#     print(df_xml)

In [49]:
df=main()
print(df.shape)
df.head()
#     epopcon_id = node.attrib.get('epopcon_id')
#     company_id = node.attrib.get('company_id')
#     cnt = node.attrib.get('cnt')    
#     sums = node.attrib.get('sums')    
#     card_name = node.attrib.get('card_name')
#     lat = node.attrib.get('lat')
#     long = node.attrib.get('long')

(5, 7)

,epopcon_id,company_id,cnt,sum,card_name,lat,long
0,cjcis15a0c273a71e42706814f6329,518821,1,15400,삼성카드,37.6064064,127.0404099
1,cjcis15a0c273a71e42706814f6329,5299175,1,33300,삼성카드,37.6064064,127.0404099
2,cjcis15a0e888b71e42719f785db8b,23981,2,15000,기업BC,37.4960912,127.0183798
3,cjcis15a0e888b71e42719f785db8b,24149,1,32580,기업BC,37.4960912,127.0183798
4,cjcis15a0e888b71e42719f785db8b,25716,1,17000,기업BC,37.4960912,127.0183798

for row in parsed_xml.getroot(): #resultset
    print(row)
    print(row[0].text)
    print(row[1].text)
    print(row[2].text)
    print(row[3].text)
    print(row[4].text)
    print(row[5].text)
    print(row[6].text)

    
#     for field in row:
#         print(field.text)