### Inventory of stock items, not managed for a month.

In [1]:
import pandas as pd

In [3]:
gsshop=pd.read_pickle('../data/GSS0713.pk')
olive=pd.read_pickle('../data/OLI0713.pk')
hmall=pd.read_pickle('../data/HMA0713.pk')

### SELL_AMOUNT == 0 찾기
### STOCK_AMOUNT == 9999 찾기

In [4]:
def sell_0_and_stock_999(data):
    Q_SALES = data.groupby('ITEM_ID').SELL_AMOUNT.sum().reset_index()
    Q_SALES_ZERO = Q_SALES[Q_SALES.SELL_AMOUNT==0]
    print('Q_SALES: ',Q_SALES.shape,'Q_SALES_ZERO: ',Q_SALES_ZERO.shape)
    
    DATA_ZERO = \
    data[data.ITEM_ID.isin(Q_SALES_ZERO.ITEM_ID
                          )][['ITEM_ID','STOCK_ID','SELL_AMOUNT','STOCK_AMOUNT','COLLECT_DAY','BRAND','CATE_NAMES']]


    DATA_ZERO.loc[DATA_ZERO['STOCK_AMOUNT'].isna(),'STOCK_AMOUNT']=0
    a = DATA_ZERO.groupby('ITEM_ID').STOCK_AMOUNT.nunique()
    DATA_ZERO=DATA_ZERO[DATA_ZERO.ITEM_ID.isin(a[a==1].reset_index().ITEM_ID.tolist())]
    DATA_ZERO['STOCK_AMOUNT'] = DATA_ZERO['STOCK_AMOUNT'].astype('int')
    DATA_ZERO['STOCK_AMOUNT'] = DATA_ZERO['STOCK_AMOUNT'].astype('str')
    DATA_ZERO_VALUE_999 = DATA_ZERO[DATA_ZERO.STOCK_AMOUNT.str.contains('^99+$')]
    print('DATA_ZERO: ',DATA_ZERO.shape,'DATA_ZERO_VALUE_999: ',DATA_ZERO_VALUE_999.shape) 
    print('DATA_ZERO_VALUE_999 : %d'%DATA_ZERO_VALUE_999.ITEM_ID.nunique())
    return DATA_ZERO_VALUE_999

In [5]:
def get_brand_cate_ivt(data,site):#'GSSHOP'
    IVT_SITE = data.groupby(['CATE_NAMES','BRAND']).ITEM_ID.nunique().reset_index().pivot(
    index='CATE_NAMES',columns='BRAND',values='ITEM_ID')
    IVT_SITE['SITE_NAME']= site 
    print('IVT_%s : '%site, IVT_SITE.shape)
    return IVT_SITE
def get_brand(DATA_ZERO_VALUE_999,site):#'GSSHOP'
    DATA_ZERO_VALUE_999_pivot= \
    DATA_ZERO_VALUE_999.groupby(['CATE_NAMES','BRAND']).ITEM_ID.nunique().reset_index().pivot(
    index='CATE_NAMES',columns='BRAND',values='ITEM_ID')
    DATA_ZERO_VALUE_999_pivot=DATA_ZERO_VALUE_999_pivot.fillna(0)
    DATA_ZERO_VALUE_999_pivot['SITE_NAME']=site
    DATA_SITE = DATA_ZERO_VALUE_999_pivot
    print('DATA_%s : '%site, DATA_SITE.shape)
    return DATA_SITE

# [ALL] Inventory by Brand & CATE

In [6]:
# gsshop=pd.read_pickle('data/GSS_SELL.pk')
# olive=pd.read_pickle('data/OLI_SELL.pk')
# hmall=pd.read_pickle('data/HMA_SELL.pk')

GSSHOP= sell_0_and_stock_999(gsshop)
HMALL= sell_0_and_stock_999(hmall)
OLIVE= sell_0_and_stock_999(olive)

IVT_GS=get_brand_cate_ivt(gsshop,'GSSHOP')
IVT_HML=get_brand_cate_ivt(hmall,'HMALL')
IVT_OLI=get_brand_cate_ivt(olive,'OLIVE')

DATA_GS=get_brand(GSSHOP,'GSSHOP')
DATA_HML=get_brand(HMALL,'HMALL')
DATA_OLI=get_brand(OLIVE,'OLIVE')

Q_SALES:  (49614, 2) Q_SALES_ZERO:  (28626, 2)
DATA_ZERO:  (7208, 7) DATA_ZERO_VALUE_999:  (984, 7)
DATA_ZERO_VALUE_999 : 692
Q_SALES:  (35133, 2) Q_SALES_ZERO:  (21913, 2)
DATA_ZERO:  (78170, 7) DATA_ZERO_VALUE_999:  (16895, 7)
DATA_ZERO_VALUE_999 : 780
Q_SALES:  (7334, 2) Q_SALES_ZERO:  (666, 2)
DATA_ZERO:  (10048, 7) DATA_ZERO_VALUE_999:  (87, 7)
DATA_ZERO_VALUE_999 : 1
IVT_GSSHOP :  (28, 6)
IVT_HMALL :  (28, 6)
IVT_OLIVE :  (28, 6)
DATA_GSSHOP :  (26, 6)
DATA_HMALL :  (26, 6)
DATA_OLIVE :  (1, 2)

In [7]:
IVT_OLI.head(3)

BRAND        AP    LG  LOREAL  LVMH   init SITE_NAME
CATE_NAMES
기획세트>기획세트   4.0  27.0    14.0   NaN  113.0     OLIVE
메이크업>기타     NaN   NaN     NaN   1.0   19.0     OLIVE
메이크업>네일     NaN   1.0     NaN   NaN  417.0     OLIVE

In [8]:
TOTAL_IVT = pd.concat([
    IVT_GS.reset_index(),
    IVT_HML.reset_index(),
    IVT_OLI.reset_index()
])[['CATE_NAMES','SITE_NAME','AP','LG','LOREAL','LVMH']]
TOTAL_IVT=TOTAL_IVT.fillna(0)
TOTAL_IVT.sort_values(by=['CATE_NAMES','SITE_NAME']).set_index('CATE_NAMES').to_csv('countAll.csv')
print(TOTAL_IVT.sort_values(by=['CATE_NAMES','SITE_NAME']).set_index('CATE_NAMES').shape)
TOTAL_IVT.sort_values(by=['CATE_NAMES','SITE_NAME']).set_index('CATE_NAMES').head(2)

(84, 5)

BRAND      SITE_NAME     AP     LG  LOREAL  LVMH
CATE_NAMES
기획세트>기획세트     GSSHOP  201.0  243.0    67.0   6.0
기획세트>기획세트      HMALL   47.0  154.0    23.0   4.0

# [999case] Inventory by Brand & CATE

In [9]:
DATA_OLI.head(1)

BRAND       init SITE_NAME
CATE_NAMES
스킨케어>마스크/팩     1     OLIVE

In [12]:
# DATA_OLI= 
temp=DATA_HML[['AP','LG','LOREAL','LVMH','init']]
temp['AP']=0
temp['LG']=0
temp['LOREAL']=0
temp['LVMH']=0
temp['init']=0
temp['SITE_NAME']='OLIVE'
print(temp.shape);temp.head(8)

(26, 5)

c:\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\python36\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\python36\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

BRAND       AP  LG  LOREAL  LVMH SITE_NAME
CATE_NAMES
메이크업>기타      0   0       0     0     OLIVE
메이크업>네일      0   0       0     0     OLIVE
메이크업>립       0   0       0     0     OLIVE
메이크업>베이스     0   0       0     0     OLIVE
메이크업>아이      0   0       0     0     OLIVE
메이크업>툴/소품    0   0       0     0     OLIVE
메이크업>페이스     0   0       0     0     OLIVE
미분류>미분류      0   0       0     0     OLIVE

In [13]:
TOTAL = pd.concat([
    DATA_GS.reset_index(),
    DATA_HML.reset_index(),
    temp.reset_index()
])[['CATE_NAMES','SITE_NAME','AP','LG','LOREAL','LVMH']]
TOTAL=TOTAL.fillna(0)
TOTAL.sort_values(by=['CATE_NAMES','SITE_NAME']).set_index('CATE_NAMES').to_csv('count999.csv')
print(TOTAL.sort_values(by=['CATE_NAMES','SITE_NAME']).set_index('CATE_NAMES').shape)
TOTAL.sort_values(by=['CATE_NAMES','SITE_NAME']).set_index('CATE_NAMES').head(2)

(78, 5)

           SITE_NAME   AP    LG  LOREAL  LVMH
CATE_NAMES
기획세트>기획세트     GSSHOP  1.0  19.0     0.0   0.0
메이크업>기타       GSSHOP  0.0   0.0     0.0   0.0