# 외식 150건 이상 , 2017년 이전 4개상점 방문자 id

In [1]:
import pymysql, pandas as pd

conn = pymysql.connect(host='133.186.143.151', port=13306, user='eums', password='eums00!q', db='eums-shared', charset='utf8')
curs = conn.cursor(pymysql.cursors.DictCursor)
curs.execute("select ID AS COMPANY_ID, CO_NAME, ADDR,SIDO,SIGUNGU,DONG FROM MEUMS_COMPANY WHERE CATE_CODE = 'C12';")
restaurant = pd.DataFrame( curs.fetchall() )[['COMPANY_ID','CO_NAME','ADDR']]
conn.close()
print(restaurant.shape)
restaurant.head()

rstt= restaurant[restaurant['CO_NAME'].str.contains('점')]
print(rstt.shape)
rstt.head()

rstt['CO_NAME'].str.split(' ', expand=True).loc[:,0:1].head()
temp = rstt['CO_NAME'].str.split(' ', expand=True).loc[:,0:1]
rstt_coName= pd.DataFrame([])
rstt_coName['name'] = temp.loc[:,0]
rstt_coName['branch'] = temp.loc[:,1]
rstt_coName.head()

(939766, 3)
(217846, 3)

                name branch
2          (북면)한식전문점   None
9   (서백자)명인간장게장(삼성점)   None
14             돈까스클럽  전주서신점
15              베지나랑     본점
32            KT문화재단    고양점

In [ ]:
rstt_count = pd.DataFrame(rstt_coName['name'].value_counts())
print(rstt_count.shape)
rstt_count.head()

#지점이 7개이상 1000개 이하인 상점
# 1000개이상은 롯데리아, BBQ처럼 오래전부터 외식최강기업 : 너무 유명한 곳 제거(불필요한 데이터를 상당부분 차지하기 때문) 
temp = rstt_count[(rstt_count['name']<800)&(rstt_count['name']>6)]
temp.shape#.shape #3364
temp=temp.reset_index()
temp.head()
rstt['name'] = rstt['CO_NAME'].str.split(' ', expand=True).loc[:,0]
rstt.head()

rstt_temp = pd.merge(rstt,temp,how='inner',left_on='name',right_on='index')
del rstt_temp['index']
print(rstt_temp.shape)
rstt_temp = rstt_temp.sort_values(by=['name_x','COMPANY_ID'])[['name_x','COMPANY_ID','CO_NAME','ADDR','name_y']]
rstt_temp.head()

1-1) 150건 이상 user_뽑기

In [ ]:
for i in range(0,len(rlist)):
    aa= rstt_temp[rstt_temp['name_x']==rlist[i]]['COMPANY_ID'].tolist()
    #conn = pymysql.connect(host='133.186.135.21', user='eums', password='eums00!q', db='eums', charset='utf8')
    conn = pymysql.connect(host='192.168.0.50', user='eums', password='eums00!q', db='eums', charset='utf8')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    curs.execute("select sum(PAYMENT) as Q1 from MEUMS_COMP_REVISIT_HIS WHERE COMPANY_ID IN "+str(tuple(aa))+" AND deal_dt between '2016-01-01 00:00:00' and '2016-03-31 23:59:59';")
    p1 = pd.DataFrame( curs.fetchall() )
   
    conn.close()
   
    rstt_sales=rstt_sales.append(bb)
rstt_sales

1-2) 주요상점 company_id 뽑기

In [ ]:
temp = rstt_temp[rstt_temp['CO_NAME'].str.contains('감성타코|걸작떡볶이')]#청년다방|에머이|감성타코|걸작떡볶이
print(temp.shape)
temp.head()