### Inventory of stock items, not managed for a month.

In [1]:
import pandas as pd

In [2]:
gsshop=pd.read_pickle('data/GSS0713.pk')
olive=pd.read_pickle('data/OLI0713.pk')
hmall=pd.read_pickle('data/HMA0713.pk')

### SELL_AMOUNT == 0 찾기
### STOCK_AMOUNT == 9999 찾기

In [3]:
def sell_0_and_stock_999(data):
    Q_SALES = data.groupby('ITEM_ID').SELL_AMOUNT.sum().reset_index()
    Q_SALES_ZERO = Q_SALES[Q_SALES.SELL_AMOUNT==0]
    print('Q_SALES: ',Q_SALES.shape,'Q_SALES_ZERO: ',Q_SALES_ZERO.shape)
    
    DATA_ZERO = \
    data[data.ITEM_ID.isin(Q_SALES_ZERO.ITEM_ID
                          )][['ITEM_ID','STOCK_ID','SELL_AMOUNT','STOCK_AMOUNT','COLLECT_DAY','BRAND','CATE_NAMES']]


    DATA_ZERO.loc[DATA_ZERO['STOCK_AMOUNT'].isna(),'STOCK_AMOUNT']=0
    a = DATA_ZERO.groupby('ITEM_ID').STOCK_AMOUNT.nunique()
    DATA_ZERO= DATA_ZERO[DATA_ZERO.ITEM_ID.isin(a[a==1].reset_index().ITEM_ID.tolist())]
    DATA_ZERO['STOCK_AMOUNT'] = DATA_ZERO['STOCK_AMOUNT'].astype('int')
    DATA_ZERO['STOCK_AMOUNT'] = DATA_ZERO['STOCK_AMOUNT'].astype('str')
    DATA_ZERO_VALUE_999 = DATA_ZERO[DATA_ZERO.STOCK_AMOUNT.str.contains('^99+$')]
    print('DATA_ZERO: ',DATA_ZERO.shape,'DATA_ZERO_VALUE_999: ',DATA_ZERO_VALUE_999.shape) 
    print('DATA_ZERO_VALUE_999 : %d'%DATA_ZERO_VALUE_999.ITEM_ID.nunique())
    return DATA_ZERO_VALUE_999

In [4]:
def get_brand_ivt(data,site):#'GSSHOP'
    data['SITE_NAME']=site
    IVT_SITE = data.groupby(['SITE_NAME','BRAND']).ITEM_ID.nunique().reset_index().pivot(
    index='SITE_NAME',columns='BRAND',values='ITEM_ID')
    print('IVT_%s : '%site, IVT_SITE.shape)
    return IVT_SITE
def get_brand(DATA_ZERO_VALUE_999,site):#'GSSHOP'
    DATA_ZERO_VALUE_999['SITE_NAME']=site
    DATA_ZERO_VALUE_999_pivot= \
    DATA_ZERO_VALUE_999.groupby(['SITE_NAME','BRAND']).ITEM_ID.nunique().reset_index().pivot(
    index='SITE_NAME',columns='BRAND',values='ITEM_ID')
    DATA_ZERO_VALUE_999_pivot=DATA_ZERO_VALUE_999_pivot.fillna(0)
    print('DATA_%s : '%site, DATA_ZERO_VALUE_999_pivot.shape)
    return DATA_ZERO_VALUE_999_pivot

# [ALL] Inventory by Brand

In [5]:
# gsshop=pd.read_pickle('data/GSS_SELL.pk')
# olive=pd.read_pickle('data/OLI_SELL.pk')
# hmall=pd.read_pickle('data/HMA_SELL.pk')

IVT_GS=get_brand_ivt(gsshop,'GSSHOP')
IVT_HML=get_brand_ivt(hmall,'HMALL')
IVT_OLI=get_brand_ivt(olive,'OLIVE')

GSSHOP= sell_0_and_stock_999(gsshop)
HMALL= sell_0_and_stock_999(hmall)
OLIVE= sell_0_and_stock_999(olive)

DATA_GS=get_brand(GSSHOP,'GSSHOP')
DATA_HML=get_brand(HMALL,'HMALL')
DATA_OLI=get_brand(OLIVE,'OLIVE')

IVT_GSSHOP :  (1, 5)
IVT_HMALL :  (1, 5)
IVT_OLIVE :  (1, 5)
Q_SALES:  (49620, 2) Q_SALES_ZERO:  (28626, 2)
DATA_ZERO:  (7208, 7) DATA_ZERO_VALUE_999:  (984, 7)
DATA_ZERO_VALUE_999 : 692
Q_SALES:  (35133, 2) Q_SALES_ZERO:  (21913, 2)
DATA_ZERO:  (78170, 7) DATA_ZERO_VALUE_999:  (16895, 7)
DATA_ZERO_VALUE_999 : 780
Q_SALES:  (7334, 2) Q_SALES_ZERO:  (665, 2)
DATA_ZERO:  (9956, 7) DATA_ZERO_VALUE_999:  (87, 7)
DATA_ZERO_VALUE_999 : 1
DATA_GSSHOP :  (1, 5)
DATA_HMALL :  (1, 5)
DATA_OLIVE :  (1, 1)

In [6]:
IVT_OLI.head(3)

BRAND       AP   LG  LOREAL  LVMH  init
SITE_NAME
OLIVE      244  468     193    85  6344

In [7]:
TOTAL_IVT = pd.concat([
    IVT_GS.reset_index(),
    IVT_HML.reset_index(),
    IVT_OLI.reset_index()
])[['SITE_NAME','AP','LG','LOREAL','LVMH']]
TOTAL_IVT.sort_values(by=['SITE_NAME']).set_index('SITE_NAME')

BRAND        AP    LG  LOREAL  LVMH
SITE_NAME
GSSHOP     3823  3386    1303  1895
HMALL      4424  2839    1210  1401
OLIVE       244   468     193    85

# [999case] Inventory by Brand

In [8]:
DATA_OLI.head(1)

BRAND      init
SITE_NAME
OLIVE         1

# DATA_OLI= DATA_HML[['AP','LG','LOREAL','LVMH']]
DATA_OLI['AP']=0
DATA_OLI['LG']=0
DATA_OLI['LOREAL']=0
DATA_OLI['LVMH']=0
DATA_OLI=DATA_OLI[['AP','LG','LOREAL','LVMH']]
print(DATA_OLI.shape);DATA_OLI.head(8)

In [10]:
TOTAL = pd.concat([
    DATA_GS.reset_index(),
    DATA_HML.reset_index(),
    DATA_OLI.reset_index()
])[['SITE_NAME','AP','LG','LOREAL','LVMH']]
TOTAL.sort_values(by=['SITE_NAME']).set_index('SITE_NAME')

           AP   LG  LOREAL  LVMH
SITE_NAME
GSSHOP     29  114      47     9
HMALL      32  165       6    17
OLIVE       0    0       0     0