In [ ]:
# 순서
epopcon_id, company_id, cardname, payment

In [1]:
import pymysql, pandas as pd

In [2]:
conn_cj = pymysql.connect(host='192.168.0.50', user='eums', password='eums00!q', db='eums-cj-business', charset='utf8')
curs = conn_cj.cursor(pymysql.cursors.DictCursor)
curs.execute("SELECT EPOPCON_ID,COMPANY_ID,PAYMENT,CARD_NAME FROM week1;")
#curs.execute(query)
p = pd.DataFrame( curs.fetchall() ) #[['EPOPCON_ID','COMPANY_ID','CNT_PAY','SUM_PAY']]
conn_cj.close()
print(p.shape) #(4079273, 4)
p['PAYMENT'] = p['PAYMENT'].astype(float)  #소수점 -> int ? 
p.head()

    CARD_NAME  COMPANY_ID                      EPOPCON_ID  PAYMENT
0  삼성카드(8114)       14366  cjcis15a407797f652660632fce3db   -13680
1        신한카드     1024637  cjcis15a39e97871e42756fbe96388    -3447
2        현대카드     5749601  cjcis15a39c8395a93f40965bde819  -950800
3        현대카드     1052810  cjcis15a39a8bc71e42756fbe8c4f7    -1620
4        현대카드     1052810  cjcis15a39a8bc71e42756fbe8c4f7    -8570

In [25]:
#df['CNT_PAY']=pd.DataFrame(p.groupby(['EPOPCON_ID','COMPANY_ID']).transform)
#df = p.groupby(['EPOPCON_ID','COMPANY_ID']).size().reset_index(name='size')
p.groupby(['EPOPCON_ID','COMPANY_ID']).PAYMENT.agg(['size','sum']).reset_index()

    CARD_NAME  COMPANY_ID                      EPOPCON_ID   PAYMENT
0  삼성카드(8114)       14366  cjcis15a407797f652660632fce3db  -13680.0
1        신한카드     1024637  cjcis15a39e97871e42756fbe96388   -3447.0
2        현대카드     5749601  cjcis15a39c8395a93f40965bde819 -950800.0
3        현대카드     1052810  cjcis15a39a8bc71e42756fbe8c4f7   -1620.0
4        현대카드     1052810  cjcis15a39a8bc71e42756fbe8c4f7   -8570.0

In [39]:
def to_set(x):
    return set(x)
df_w1=p.groupby(['EPOPCON_ID','COMPANY_ID']).agg({'PAYMENT':['size','sum'], 'CARD_NAME':to_set}).reset_index()#'EPOPCON_ID','COMPANY_ID',
print(df_w1.shape)
df_w1.head()

(3066074, 5)

                       EPOPCON_ID COMPANY_ID PAYMENT           \
                                                size      sum
0  cjcis15a0e888b71e42719f785db8b      27879       1  15900.0
1  cjcis15a0e888b71e42719f785db8b      36087       3  68040.0
2  cjcis15a0e888b71e42719f785db8b      46177       1  49900.0
3  cjcis15a0e888b71e42719f785db8b     255730       1   6000.0
4  cjcis15a0e888b71e42719f785db8b     396704       1   2000.0

                  CARD_NAME
                     to_set
0              {기업BC(6214)}
1  {기업BC(2029), BC카드(2029)}
2              {기업BC(6214)}
3              {기업BC(6214)}
4              {기업BC(6214)}

In [37]:
df_w1['PAYMENT']['size'].head()

0    1
1    3
2    1
3    1
4    1
Name: size, dtype: int64

In [41]:
conn_cj = pymysql.connect(host='192.168.0.50', user='eums', password='eums00!q', db='eums-cj-business', charset='utf8')
curs = conn_cj.cursor(pymysql.cursors.DictCursor)
curs.execute("SELECT EPOPCON_ID,COMPANY_ID,PAYMENT,CARD_NAME FROM week2;")
#curs.execute(query)
p2 = pd.DataFrame( curs.fetchall() ) #[['EPOPCON_ID','COMPANY_ID','CNT_PAY','SUM_PAY']]
conn_cj.close()
p2['PAYMENT'] = p2['PAYMENT'].astype(float) 
print(p2.shape)
p2.head()

(4409079, 4)

  CARD_NAME  COMPANY_ID                      EPOPCON_ID  PAYMENT
0      현대카드     1052810  cjcis15a393615b267560d56e40ff9  -2080.0
1      현대카드     1052810  cjcis15a393615b267560d56e40ff9  -2430.0
2      현대카드       14366  cjcis15a3b97a7e946d90511c9d53a -44650.0
3      현대카드     1052810  cjcis15a3b6fe5f652660632fc82b5  -1310.0
4      신한카드     3072201  cjcis15a3a096f5a93f40965be5764  -3690.0

In [42]:
conn_cj = pymysql.connect(host='192.168.0.50', user='eums', password='eums00!q', db='eums-cj-business', charset='utf8')
curs = conn_cj.cursor(pymysql.cursors.DictCursor)
curs.execute("SELECT EPOPCON_ID,COMPANY_ID,PAYMENT,CARD_NAME FROM week3;")
#curs.execute(query)
p3 = pd.DataFrame( curs.fetchall() ) #[['EPOPCON_ID','COMPANY_ID','CNT_PAY','SUM_PAY']]
conn_cj.close()
p3['PAYMENT'] = p3['PAYMENT'].astype(float) 
print(p3.shape)
p3.head()

(3690308, 4)

  CARD_NAME  COMPANY_ID                      EPOPCON_ID   PAYMENT
0      현대카드     3728130  cjcis15a3ac5f6fec3e50db1184d2b  -50000.0
1      신한카드       24209  cjcis15a39377671e42756fbe7cffd -297000.0
2      현대카드     4919066  cjcis15a4c2c7f71e427692252dc5a  -38400.0
3      현대카드       36087  cjcis15a4849d75a93f41b931d6c01 -165170.0
4      현대카드     4919066  cjcis15a4c2c7f71e427692252dc5a  -59100.0

In [43]:
conn_cj = pymysql.connect(host='192.168.0.50', user='eums', password='eums00!q', db='eums-cj-business', charset='utf8')
curs = conn_cj.cursor(pymysql.cursors.DictCursor)
curs.execute("SELECT EPOPCON_ID,COMPANY_ID,PAYMENT,CARD_NAME FROM week4;")
#curs.execute(query)
p4 = pd.DataFrame( curs.fetchall() ) #[['EPOPCON_ID','COMPANY_ID','CNT_PAY','SUM_PAY']]
conn_cj.close()
p4['PAYMENT'] = p4['PAYMENT'].astype(float) 
print(p4.shape)
p4.head()

(4341214, 4)

    CARD_NAME  COMPANY_ID                      EPOPCON_ID   PAYMENT
0        현대카드      743405  cjcis15a38c5a171e42756fbe6ae0a -450000.0
1  삼성카드(4297)     6517384  cjcis15a6d05a26259ad1314dcef92 -154800.0
2  삼성카드(4297)     6517384  cjcis15a6d05a26259ad1314dcef92 -154800.0
3        신한카드     4454019  cjcis15a3b7d90fec3e50db11873fd  -30000.0
4  삼성카드(8309)     4919066  cjcis15a39ef72b267560d56e5b2c4 -400000.0

In [44]:
df_w2=p2.groupby(['EPOPCON_ID','COMPANY_ID']).agg({'PAYMENT':['size','sum'], 'CARD_NAME':to_set}).reset_index()
print(df_w2.shape)
df_w3=p3.groupby(['EPOPCON_ID','COMPANY_ID']).agg({'PAYMENT':['size','sum'], 'CARD_NAME':to_set}).reset_index()
print(df_w3.shape)
df_w4=p4.groupby(['EPOPCON_ID','COMPANY_ID']).agg({'PAYMENT':['size','sum'], 'CARD_NAME':to_set}).reset_index()
print(df_w4.shape)

MemoryError: