In [1]:
from joblib import Parallel, delayed
import joblib, pandas as pd
import numpy as np, gc
from SK import *

In [6]:
# COU = pd.read_pickle("data/COUPANG.pickle")
COU = pd.read_pickle("data/GSS_STOCK.pk")

COU_LIST =np.random.permutation(COU.ITEM_ID.unique())
n = COU.ITEM_ID.nunique()
cs = n // 100
chunk = (n // cs) + 1
COU_dict = {i:COU[COU.ITEM_ID.isin(COU_LIST[cs*i:cs*(i+1)])] for i in range(chunk)}

In [7]:
print(COU.shape);COU.head(1)

(765853, 5)

   ITEM_ID  STOCK_ID  STOCK_AMOUNT COLLECT_DAY              REG_DT
0  1806022  13062930           986    20180601 2018-06-01 05:40:11

In [8]:
%%time
gc.collect()
par_res = Parallel(n_jobs=-1)(joblib.delayed(apply_model)(value) for key,value in COU_dict.items()) #COU_dict.get(key)=value
res = pd.concat([par_res[i] for i in range(len(par_res))])
res.to_pickle('data/res_gsshop.pic')

Wall time: 8min 6s

for key,item in COU_dict.items():
    print(item.shape)

In [9]:
res[res.duplicated('STOCK_ID')]
# COU.duplicated('STOCK_ID')

,SELL_AMOUNT,STOCK_AMOUNT,REVISE_STOCK_AMOUNT,STOCK_ID,ITEM_ID,UPT_DT,COLLECT_DAY,UPT_ID,REG_DT
1,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-02,FILTER ALGO,2018-06-02
2,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-03,FILTER ALGO,2018-06-03
3,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-04,FILTER ALGO,2018-06-04
4,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-05,FILTER ALGO,2018-06-05
5,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-06,FILTER ALGO,2018-06-06
6,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-07,FILTER ALGO,2018-06-07
7,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-08,FILTER ALGO,2018-06-08
8,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-09,FILTER ALGO,2018-06-09
9,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-10,FILTER ALGO,2018-06-10
10,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-11,FILTER ALGO,2018-06-11
11,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-12,FILTER ALGO,2018-06-12
12,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-13,FILTER ALGO,2018-06-13
13,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-14,FILTER ALGO,2018-06-14
14,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-15,FILTER ALGO,2018-06-15
15,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-16,FILTER ALGO,2018-06-16
16,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-17,FILTER ALGO,2018-06-17
17,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-18,FILTER ALGO,2018-06-18
18,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-19,FILTER ALGO,2018-06-19
19,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-20,FILTER ALGO,2018-06-20
20,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-21,FILTER ALGO,2018-06-21
21,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-22,FILTER ALGO,2018-06-22
22,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-23,FILTER ALGO,2018-06-23
23,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-24,FILTER ALGO,2018-06-24
24,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-25,FILTER ALGO,2018-06-25
25,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-26,FILTER ALGO,2018-06-26
26,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-27,FILTER ALGO,2018-06-27
27,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-28,FILTER ALGO,2018-06-28
28,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-29,FILTER ALGO,2018-06-29
29,0,29,29,13062930,1044720,2018-07-11 11:00:50,2018-06-30,FILTER ALGO,2018-06-30
30,0,10188,10188,13062930,2726884,2018-07-11 11:00:50,2018-06-01,FILTER ALGO,2018-06-01
...,...,...,...,...,...,...,...,...,...
3205,0,198,198,67433,12541253,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3206,0,200,200,67690,12541253,2018-07-11 11:08:28,2018-06-23,FILTER ALGO,2018-06-23
3207,0,200,200,67690,12541253,2018-07-11 11:08:28,2018-06-24,FILTER ALGO,2018-06-24
3208,0,200,200,67690,12541253,2018-07-11 11:08:28,2018-06-25,FILTER ALGO,2018-06-25
3209,0,200,200,67690,12541253,2018-07-11 11:08:28,2018-06-26,FILTER ALGO,2018-06-26
3210,2,198,198,67690,12541253,2018-07-11 11:08:28,2018-06-27,FILTER ALGO,2018-06-27
3211,0,198,198,67690,12541253,2018-07-11 11:08:28,2018-06-28,FILTER ALGO,2018-06-28
3212,1,197,197,67690,12541253,2018-07-11 11:08:28,2018-06-29,FILTER ALGO,2018-06-29
3213,0,197,197,67690,12541253,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3214,0,999,999,13062930,12604225,2018-07-11 11:08:28,2018-06-24,FILTER ALGO,2018-06-24
3215,-0,999,999,13062930,12604225,2018-07-11 11:08:28,2018-06-25,FILTER ALGO,2018-06-25
3216,-0,None,999,13062930,12604225,2018-07-11 11:08:28,2018-06-26,FILTER ALGO,2018-06-26
3217,-0,None,999,13062930,12604225,2018-07-11 11:08:28,2018-06-27,FILTER ALGO,2018-06-27
3218,-0,None,999,13062930,12604225,2018-07-11 11:08:28,2018-06-28,FILTER ALGO,2018-06-28
3219,-0,999,999,13062930,12604225,2018-07-11 11:08:28,2018-06-29,FILTER ALGO,2018-06-29
3220,-0,999,999,13062930,12604225,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3221,0,616,616,13062930,12675018,2018-07-11 11:08:28,2018-06-27,FILTER ALGO,2018-06-27
3222,-0,None,616,13062930,12675018,2018-07-11 11:08:28,2018-06-28,FILTER ALGO,2018-06-28
3223,1,None,615,13062930,12675018,2018-07-11 11:08:28,2018-06-29,FILTER ALGO,2018-06-29
3224,-0,615,615,13062930,12675018,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3225,0,999,999,780822085805,12675036,2018-07-11 11:08:28,2018-06-27,FILTER ALGO,2018-06-27
3226,-0,None,999,780822085805,12675036,2018-07-11 11:08:28,2018-06-28,FILTER ALGO,2018-06-28
3227,-0,999,999,780822085805,12675036,2018-07-11 11:08:28,2018-06-29,FILTER ALGO,2018-06-29
3228,-0,999,999,780822085805,12675036,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3230,0,900,900,-6237204873965216820,12808914,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3232,0,900,900,-6407371925293230183,12808914,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3234,0,900,900,-9189593760291221689,12808914,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3235,0,1,1,916454787622,12820224,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3236,0,7,7,930098067209,12822460,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30
3237,0,12,12,916454787622,12822599,2018-07-11 11:08:28,2018-06-30,FILTER ALGO,2018-06-30